{% load i18n static dict_get %}

<div class="calendar-wrapper">
  <table class="calendar-table">
    <thead>
      {% for name in day_names %}
        <th>{{ name }}</th>
      {% endfor %}
    </thead>
    <tbody>
      {% for semana in semanas %}
        <tr class="linha-dias">
          {% for dia in semana.datas %}
          <td>
            <span class="numero-dia">
              {% if dia.month == mes_pesquisa %}{{ dia.day }}{% endif %}
            </span>
          </td>
          {% endfor %}
        </tr>
        {% for evento, tupla in semana.eventos %}
          <tr class="linha-evento">
            {% for x in ""|ljust:tupla.0|make_list %}<td></td>{% endfor %}
            <td colspan="{{ tupla.1 }}" class="{{ categorias|get:evento.tipo_evento.categoria|get:"color" }} lighten-4">
              <p class="evento">
                <i class="material-icons tiny">{{ status|get:evento.status|get:"icon" }}</i>
                <a class="modal-trigger" href="#modal{{ evento.id|safe }}" title="{{ evento.nome }}">{{ evento.nome }}</a>
              </p>
            </td>
            {% for x in ""|ljust:tupla.2|make_list %}<td></td>{% endfor %}
          </tr>
        {% empty %}
          <td colspan="7">&nbsp;</td>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>