a:link, a:visited {
    color: #0f3361;
}

a:hover {
    color: #11488d;
}


/* HEADER */

#header { background: #003351; }
#branding h1 { color: #fff; }

#nav-global {
    color: #b87912;
    background-color: #101a20;
    border-top: 1px solid #252525;
    border-bottom: 1px solid #999;
    width: 100%;
}
#nav-global ul { margin: 0; padding: 3px; }
#nav-global li {
    display: inline;
    font-size: 1em;
}
#nav-global li a {
    color: #dfdfdf !important;
    margin: 0 5px 0 5px;
}
#nav-global li a:hover {
    color: #fff !important;
    margin: 0 5px 0 5px;
    text-decoration: none;
}

/* CONTENT */

.module h2, .module caption, .inline-group h2 {
    background: #00367b
    url(../images/default-bg.gif);
}

.row1 { background: #f5f6fc none repeat scroll 0 0; }

.dashboard #content {
    width: auto;
}

.dashboard #content-main .module {
    float: left;
    margin-right: 1.5%;
    width: 48%;
}

/* FOOTER */

#footer {
    color: #555;
    font-size: 0.9em;
    text-align: center;
    margin-top: 40px;
}
