a:link, a:visited { color:#0f3361; }
a:hover { color:#11488d; }


/* HEADER */

#header { background:#003351; }
#site-name a:hover { text-decoration: none; }

#nav-global {
    border:none;
    border:0px;
    margin:0px;
    padding:0px;
    font-size:14px;
    font-weight:bold;
}
#nav-global ul {
    background:#222;
    height:25px;
    margin:0;
    padding:0;
}
#nav-global li {
    float:left;
    list-style:none;
    padding:0px;
}
#nav-global li a {
    background:#222 url("../images/menu/seperator.gif") bottom right no-repeat;
    color:#cccccc;
    display:block;
    font-weight:normal;
    line-height:25px;
    margin:0px;
    padding:0px 15px;
    text-align:center;
    text-decoration:none;
}
#nav-global li a:hover, #nav-global ul li:hover a {
    background: #333 url("../images/menu/hover.gif") bottom center no-repeat;
    color:#FFFFFF;
    text-decoration:none;
}
#nav-global li ul {
    background:#333;
    display:none;
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    width:225px;
    z-index:200;
    /*top:1em;
    /*left:0;*/
}
#nav-global li:hover ul { display:block; }
#nav-global li li {
    background:url('../images/menu/sub_sep.gif') bottom left no-repeat;
    display:block;
    float:none;
    margin:0px;
    padding:0px;
    width:225px;
}
#nav-global li:hover li a { background:none; }
#nav-global li ul a {
    display:block;
    height:25px;
    font-style:normal;
    margin:0px;
    padding:0px 10px 0px 15px;
    text-align:left;
}
#nav-global li ul a:hover, #nav-global li ul li:hover a {
    background:#444 url('../images/menu/hover_sub.gif') center left no-repeat;
    border:0px;
    color:#ffffff;
    text-decoration:none;
}
#nav-global p {
    clear:left;
}

div.breadcrumbs { display:none; }


/* CONTENT */

.module h2, .module caption, .inline-group h2 {
    background: #00367b
    url(../images/default-bg.gif);
}

.row1 { background: #f5f6fc none repeat scroll 0 0; }

.align-center { text-align: center; }

img.chart { margin: 20px 0; }

.dashboard #content {
    width: auto;
}

.dashboard #content-main .module {
    float: left;
    margin-right: 1.5%;
    width: 48%;
}

/* FOOTER */

#footer {
    color: #555;
    font-size: 0.9em;
    text-align: center;
    margin-top: 40px;
}
