{% load i18n %}

<div id="filter-modal" class="modal">
  <div class="modal-content">
    <h6 class="left">Filtrar por</h6>
    <a href="#!" class="modal-close right"><i class="material-icons">close</i></a>

    <form id="filterForm" action="" method="get">{{ csrftoken }}
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab"><a class="active" href="#tab_tipo_orgao">{% trans "Órgão" %}</a></li>
            <li class="tab"><a href="#tab_tipo_servico">{% trans "Serviço" %}</a></li>
            <li class="tab"><a href="#tab_tipo_convenio">{% trans "Convênio" %}</a></li>
            <li class="tab"><a href="#tab_regiao_uf">{% trans "Região/estados" %}</a></li>
            <li class="tab"><a href="#tab_gerente">{% trans "Gerente" %}</a></li>
          </ul>
        </div>
        <div id="tab_tipo_orgao" class="col s12">
          {% for o in tipos_orgao %}
          <p>
            <label>
              <input type="checkbox" form="filterForm" id="tipo_orgao_{{ o.sigla }}" name="tipo_orgao" value="{{ o.sigla }}"{% if o.sigla in pre_tipos_orgao or not pre_tipos_orgao %} checked{% endif %} />
              <span>{{ o.nome }}</span>
            </label>
          </p>
          {% endfor %}
        </div>
        <div id="tab_tipo_servico" class="col s12">
          <p>
            <label>
              <input type="checkbox" form="filterForm" id="tipo_servico_ignore" name="ignore_tipo_servico" value="ignore" data-controls="tipo_servico"{% if 'ignore' in pre_tipos_servico %} checked{% endif %} />
              <span>{% trans "Ignorar" %}
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" form="filterForm" id="tipo_servico_none" name="tipo_servico" value="none"{% if 'none' in pre_tipos_servico %} checked{% endif %} />
              <span>{% trans "Nenhum serviço" %}</span>
            </label>
          </p>
          {% for s in tipos_servico %}
          <p>
            <label>
              <input type="checkbox" form="filterForm" id="tipo_servico_{{ s.sigla }}" name="tipo_servico"
                value="{{ s.sigla }}"{% if s.sigla in pre_tipos_servico or not pre_tipos_servico %} checked{% endif %} />
              <span>{{ s.nome }}</span>
            </label>
          </p>
          {% endfor %}
        </div>
        <div id="tab_tipo_convenio" class="col s12">
          <p>
            <label>
              <input type="checkbox" form="filterForm" id="tipo_convenio_ignore" name="ignore_tipo_convenio" value="ignore"
                data-controls="tipo_convenio"{% if 'ignore' in pre_tipos_convenio %} checked{% endif %} />
              <span>{% trans "Ignorar" %}</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" form="filterForm" id="tipo_convenio_none" name="tipo_convenio" value="none"{% if "none" in pre_tipos_convenio %} checked{% endif %} />
              <span>{% trans "Sem convênio" %}</span>
            </label>
          </p>
          {% for c in tipos_convenio %}
          <p>
            <label>
              <input type="checkbox" form="filterForm" id="tipo_convenio_{{ c.sigla }}" name="tipo_convenio"
                value="{{ c.sigla }}"{% if c.sigla in pre_tipos_convenio or not pre_tipos_convenio %} checked{% endif %}/>
              <span>{{ c.nome }}</span>
            </label>
          </p>
          {% endfor %}
        </div>
        <div id="tab_regiao_uf" class="col s12">
          {% for s, n, ufs in regioes %}
          <p>
            <label>
              <input type="checkbox" form="filterForm" id="regiao_{{ s }}" name="regiao" value="{{ s }}" />
              <span>{{ n }}</span>
            </label>
          </p>
          <div class="region-ufs">
            {% for uf in ufs %}
            <p>
              <label>
                <input type="checkbox" form="filterForm" id="uf_{{ uf.sigla }}" name="uf" value="{{ uf.sigla }}"
                  data-regiao="{{ s }}" {% if uf.sigla in pre_ufs %} checked{% endif %}/>
                <span>{{ uf.nome }}</span>
              </label>
            </p>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
        <div id="tab_gerente" class="col s12">
          <p>
            <label>
              <input type="checkbox" form="filterForm" id="gerente_ignore" name="gerente_ignore" value="ignore"
                data-controls="gerente"{% if "ignore" in pre_gerentes %} checked{% endif %} />
              <span>{% trans "Ignorar" %}</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" form="filterForm" id="gerente_none" name="gerente" value="none" {% if "none" in pre_gerentes %} checked{% endif %}/>
              <span>{% trans "Sem gerente" %}</span>
            </label>
          </p>
          {% for g in gerentes %}
          <p>
            <label>
              <input type="checkbox" form="filterForm" id="gerente_{{ g.id|stringformat:"s" }}" name="gerente"
                value="{{ g.id|stringformat:"s" }}" {% if g.id|stringformat:"s" in pre_gerentes or not pre_gerentes%} checked{% endif %}/>
              <span>{{ g.nome_completo }}</span>
            </label>
          </p>
          {% endfor %}
        </div>
      </div>
    </form>
  </div>
</div>
