{% extends "admin/index.html" %}
{% load static %}
{% load i18n %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin="" />
<link rel="stylesheet" href="{% static 'home/css/openmap.css' %}" />
<link rel="stylesheet" href="{% static "admin/css/changelists.css" %}" type="text/css" />
{% endblock %}

{% block extrahead %}
{{ block.super }}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8" />
<meta name="robots" content="NONE,NOARCHIVE" />
<script type="text/javascript">
  //<![CDATA[
  window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin / " %}{% endfilter %}";
    //]]>
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
<script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
{% endblock %}

{% block usertools %}
<div id="user-tools">
  {% if user.is_authenticated %}
    {% if user.is_staff %}
      {% url 'admin:index' as entry_page %}
    {% else %}
      {% url 'change_password' as entry_page %}
    {% endif %}
    <a href="{% url 'logout' %}">
      {% trans 'Log out' %}
      <i class="material-icons" aria-hidden="true">exit_to_app</i>
    </a>
  {% else %}
    {% url 'login' as entry_page %}
  {% endif %}
  <a href="{{ entry_page }}">{% trans "Entrar" %}</a>
  <a href="{% url 'ocorrencias:ocorrencia_convenio_seleciona_casa' %}">{% trans "Solicitar convênio" %}</a>
  <a href="{% url 'ocorrencias:ocorrencia_oficina_seleciona_casa' %}">{% trans "Solicitar oficinas" %}</a>
</div>
{% endblock %}

{% block side_nav %}
{% if not nav_bar_minimized %}
<div id="side-bar" class="hide-on-med-and-down">
  {% include 'home/mapfilter.html' %}
</div>
{% endif %}
<div id="mobile-demo" class="sidenav">
  {% include 'home/mapfilter.html' with mobile=True %}
</div>
{% endblock %}

{% block content %}
  <div id="map">
    <!-- open street map -->
  </div>
{% endblock %}

{% block sidebar %}{% endblock %}

{% block footer %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/search.js' %}"></script>
<script>
  var mymap;
  var map_center = [-14.235004, -51.92528];
  var options = { color: 'blue', fillColor: 'red', fillOpacity: 0.4, radius: 500 };
  var unfiltred_options = { color: 'red', fillColor: 'red', fillOpacity: 0, radius: 1000 };
  $(document).ready(function () {
    $("input[type=checkbox]").change(filtra);

    mymap = L.map('map', { zoomSnap: 0.01 }).setView(map_center, 4.5);
    mymap.zoomControl.options.zoomInTitle = "{% trans 'Aproximar' %}";
    mymap.zoomControl.options.zoomOutTitle = "{% trans 'Afastar' %}";
    mymap.zoomControl.setPosition("bottomright");

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
      maxZoom: 18,
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1
    }).addTo(mymap);

    mymap.on("popupopen", function (e) {
      var popup = e.popup;
      mark = popup._source;
      $.ajax({
        type: "GET",
        url: "{% url "openmapdetail" "orgao_id" %}".replace("orgao_id", mark.orgao_id),
        encode: true
      }).done(function (content) {
        popup.setContent(content);
      })
    })

    filtra();

    function filtra() {
      var name = $(this).attr("name"),
        value = $(this).attr("value"),
        checked = $(this).prop("checked");

      if (name) {
        $(`input[type=checkbox][name=${name}][value=${value}]`).prop("checked", checked);
      }

      if (value == "ignore") {
        controls = $(this).attr("data-controls");
        $("input[type=checkbox][name='" + controls + "']").prop("disabled", checked);
      }

      if (value == "none") {
        $("input[type=checkbox][name='" + name + "'][value!='none']").prop("checked", !checked);
      } else {
        if (checked) {
          $("input[type=checkbox][name='" + name + "'][value='none']").prop("checked", false);
        }
      }

      if (name == 'regiao') {
        $("input[type=checkbox][name='uf'][data-regiao='" + value + "']").prop('checked', checked);
      }

      if (name == 'uf') {
        var sigla_regiao = $(this).attr('data-regiao'),
          regiao = $("input[type=checkbox][value='" + sigla_regiao + "']");
        if ($("input[type=checkbox][name='uf'][data-regiao='" + sigla_regiao + "']:checked").length == 0) {
          $(regiao).prop('checked', false).prop("indeterminate", false);
        } else if ($("input[type=checkbox][name='uf'][data-regiao='" + sigla_regiao + "']:not(:checked)").length == 0) {
          $(regiao).prop('checked', true).prop("indeterminate", false);
        } else {
          $(regiao).prop("indeterminate", true)
        }
      }

      var formData = $("#filterForm").serializeArray();

      mymap.eachLayer(function (layer) {
        if (layer instanceof L.Circle) {
          mymap.removeLayer(layer);
        }
      })

      $.ajax({
        type: "GET",
        url: "{% url "openmapdata" %}",
        data: formData,
        dataType: "json",
        encode: true,
      }).done(function (returnedData) {
        $("#totalOrgao").text(returnedData.length);
        returnedData.forEach(function (casa) {
          if (casa[2] === null || casa[3] === null) {
            alert(casa[1] + " está sem coordenadas geográficas e não será plotada");
          } else {
            var mark = L.circle([casa[2], casa[3]], options).bindTooltip(casa[1]).bindPopup('<div class="preloader-wrapper small active"><div class="spinner-layer spinner-green-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div>').addTo(mymap);
            mark.orgao_id = casa[0]
          }
        })
      })
    }

    $(".clear-filters").click(function(event) {
      event.preventDefault();
      $("input[type=checkbox][name=tipo_orgao]").prop('checked', false);
      $("input[type=checkbox][name=tipo_servico]").prop('checked', false);
      $("input[type=checkbox][name=tipo_convenio]").prop('checked', false);
      $("input[type=checkbox][name=regiao]").prop('checked', false);
      $("input[type=checkbox][name=uf]").prop('checked', false);
      $("input[type=checkbox][name=gerente]").prop('checked', false);
      filtra();
    });
    $(".center-map").click(function(event) {
      event.preventDefault();
      mymap.flyTo(map_center, 4.5);
    });
  });
  function map_fly_to(obj) {
    mymap.flyTo([obj.lat, obj.lng], 8.5);
    var encontrado = false;
    mymap.eachLayer(function (layer) {
      if (layer instanceof L.Circle) {
        if (layer.orgao_id == obj.id) {
          layer.openPopup();
          encontrado = true;
        }
      }
    });
    if (!encontrado) {
      var mark = L.circle([obj.lat, obj.lng], unfiltred_options).bindTooltip(obj.label).bindPopup("").addTo(mymap);
      mark.orgao_id = obj.id
      mark.openPopup();
    }
  }
</script>
{% endblock %}