{% extends 'pdf/base_report.html' %}
{% load static i18n %}

{% block page_size %}A4 portrait{% endblock %}

{% block main_content %}
  <table repeat="1">
    <thead>
      <tr>
        <th>{% trans "Nome da Casa" %}</th>
        <th width=30>{% trans "UF" %}</th>
        <th>{% trans "Gerente de contas" %}</th>
        <th>{% trans "Serviços" %}</th>
      </tr>
    </thead>
  {% for casa in casas %}
    <tr>
      <td>{{ casa.nome }}</td>
      <td>{{ casa.municipio.uf.sigla }}</td>
      <td>{{ casa.lista_gerentes|safe }}</td>
      <td>
      {% for s in casa.servico_set.all %}
        {% if s.data_desativacao == None %}
          {{ s.tipo_servico.nome }}{% if not forloop.last %}, {% endif %}
        {% endif %}
      {% endfor %}
      </td>
    </tr>
  {% endfor %}
  </table>
{% endblock main_content %}
