{% load i18n file_image %}
<div class="file-field">
  {% if widget.is_initial %}
  <div class="left" style="padding: 5px;">
    <img src="{{ widget.value|file_image }}" alt="{{ widget.value }}" height="60" width="60" {% if widget.value|is_image %} class="materialboxed"{% endif %}/>
    </a>
  </div>
  {% endif %}
  <div class="btn">
    <span>{% trans "File" %}</span>
    <input type="{{ widget.type }}" name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %}>
  </div>
  <div class="file-path-wrapper">
    <input class="file-path validate" type="text" value="{{ widget.value }}">
  </div>
</div>
{% if widget.is_initial %}
  <em class="right">{% trans "Download" %}: <a href="{{ widget.value.url }}">{{ widget.value.url }}</a></em>
  <p>
  {% if not widget.required %}
    <label>
      <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}" {% if widget.attrs.disabled %}disabled{% endif %}>
      <span>{{ widget.clear_checkbox_label }}</span>
    </label>
  {% endif %}
  </p>
{% endif %}