{% extends 'material/admin/logout.html' %}
{% load i18n %}

{% block content %}

<div id="layout-content">
  <div class="side-bar">
    {% include 'material/admin/includes/admin-out-bg.html' with current_theme=current_theme %}
  </div>
  <div class="text-content">
    <h2>{% trans "Logged out" %}</h2>
    <p>{% trans "Thanks for spending some quality time with the Web site today." %}</p>
    <p><a href="{% url 'openmap' %}">{% trans 'Voltar ao mapa' %}</a></p>
    <p><a class="btn waves-effect white-text waves-light" href="{% url 'login' %}">{% trans 'Log in again' %}
      <i class="material-icons right" aria-hidden="true">send</i>
    </a></p>
  </div>
</div>

{% endblock %}