{% load i18n %}

<div class="app">
  <div class="card">
    <div class="full-preloader valign-wrapper">
      <div class="center">
      <div class="preloader-wrapper active">
        <div class="spinner-layer spinner-green-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="card-content">
      <div class="card-title">
        <i class="material-icons left dash-control" style="cursor: move;">drag_handle</i>
        {% block card-title %}{% translate card_title|default:"" %}{% endblock %}
        <a href="{% url 'home_card_remove' dash.label card.codigo %}" class="dash-control remove-card" title="{% trans 'Remove este card' %}"><i class="material-icons right">close</i></a>
      </div>
      <div class="card-content-wrapper">
      {% block card-content %}{% endblock card-content %}
      </div>
    </div>
  </div>
</div>