{% load i18n %}
<div class="content-wrapper">
  <div class="app-list">
    <div class="app dash-control">
      <div class="card lime lighten-3">
        <form action="{% url 'home_card_rename_tab' %}" method="post">{% csrf_token %}
          <div class="card-content white-text">
            <input type="hidden" name="categoria_atual" value="{{ dash.label }}"/>
            <div class="input-field">
              <label for="id_categoria_nova">{% trans 'Renomear a aba' %}</label>
              <input placeholder="{% trans 'Nome da aba' %}" id="id_categoria_nova" name="categoria_nova" type="text" class="validate" value="{{ dash.label }}" required>
            </div>
          </div>
          <div class="card-action">
            <button type="submit" class="waves-effect btn-flat right">{% trans "Renomear" %}</button>
          </div>
        </form>
      </div>
    </div>
    <ul class="sortable" data-tab-name="{{ dash.label }}" data-target-url="{% url 'home_card_reorder' %}">
      {% for card in dash.cards %}
        <li data-card-id="{{ card.codigo }}">
          {% url card.nome_url as source_url %}
          {% if card.tipo == 'C' %}
            {% include "sigi/snippets/base_card_chart.html" with card_title=card.titulo data_source=source_url|add:"?"|add:card.query_string chart_name=card.codigo has_action_links=card.link_acao %}
          {% else %}
            {% include "sigi/snippets/base_card_text.html" with card_title=card.titulo data_source=source_url|add:"?"|add:card.query_string card_name=card.codigo %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <div class="app dash-control">
      <div class="card lime lighten-3">
        <form action="{% url 'home_add_card' %}" method="post">{% csrf_token %}
          <div class="card-content white-text">
            <input type="hidden" name="categoria" value="{{ dash.label }}"/>
            <ul class="collection">
              {% for card in sigi_dash_all_cards %}
              <li class="collection-item">
                <label>
                  <input type="checkbox" name="card_id" value="{{ card.codigo }}"/>
                  <span>{{ card.titulo }}</span>
                </label>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="card-action">
            <button type="submit" class="waves-effect btn-flat right">{% trans "Adicionar selecionados" %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
