{% load i18n %}

<div class="content-wrapper">
  <div class="app-list">
    {% url "home_resumoseit" as source_url %}
    {% include "sigi/snippets/base_card_text.html" with card_title="Serviços hospedados no Interlegis (SEIT)" data_source=source_url card_name="resumoseit" %}

    {% url "home_chartseit" as source_url %}
    {% include "sigi/snippets/base_card_chart.html" with card_title="Sazonalidade da hospedagem de serviços" data_source=source_url chart_name="evolucao-servicos" has_action_links="1" %}

    {% url "casas-carteira" as source_url %}
    {% include "sigi/snippets/base_card_text.html" with card_title="Resumo da carteira de relacionamentos" data_source=source_url|add:"?snippet=resumo&s=sim" card_name="carteira" %}

    {% url "home_chartperformance" as source_url %}
    {% include "sigi/snippets/base_card_chart.html" with card_title="Performance da gerência de carteiras" data_source=source_url chart_name="performance"  has_action_links="1" %}

    {% url "home_chartcarteira" as source_url %}
    {% include "sigi/snippets/base_card_chart.html" with card_title="Distribuição de Casas por Gerente" data_source=source_url chart_name="carteira" %}

    {% url "home_resumoconvenios" as source_url %}
    {% include "sigi/snippets/base_card_text.html" with card_title="Resumo de informações" data_source=source_url card_name="resumo-convenios" %}
  </div>
</div>
