{% extends "admin/base_site.html" %}
{% load i18n static djbs_extras %}

{% block extrastyle %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">{% translate "Relatórios" %}</li>
  <li class="breadcrumb-item">{% translate "Uso dos espaços" %}</li>
{% endblock %}

{% block content %}
  <form method="get" action="">
    <div class="card mb-3">
      <div class="card-header">
        <a class="icon-link" data-bs-toggle="collapse" href="#filterFormCollapse" aria-expanded="{% if reservas %}false{% else %}true{% endif %}" aria-controls="filterFormCollapse">
          {% icon "filter" %} {% translate "Filtros" %}
        </a>
      </div>
      <div class="card-body collapse{% if not reservas %} show{% endif %}" id="filterFormCollapse">
        {{ form }}
      </div>
      <div class="card-footer d-flex justify-content-end">
        <div>
          <button type="submit" class="btn btn-primary">{% trans 'Visualizar' %}</button>
          <a href="?{{ request.GET.urlencode }}&fmt=pdf" class="btn btn-primary" title="{% trans 'Exportar para PDF' %}">
            {% icon "pdf" %}
            {% trans 'Exportar para PDF' %}
          </a>
        </div>
      </div>
    </div>
  </form>

  {% if reservas %}
    {% if espacos %}
      {% for espaco in espacos %}
        <div class="card">
          <div class="card-head">
            {{ espaco.nome }}
          </div>
          <div class="card-body">
            {% include "espacos/snippets/uso_espaco_snippet.html" with reservas=espaco.reservas %}
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="card">
        <div class="card-body">
          {% include "espacos/snippets/uso_espaco_snippet.html" %}
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}