{% extends "admin/base_site.html" %}
{% load static i18n %}

{% block theme %}
  <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/base_site-green.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/base_site-theme.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/materialize-adjusts.css' %}">
{% endblock %}

{% block branding %}
  {% if user.is_staff %}
    {% url 'admin:index' as header_url %}
  {% else %}
    {% url 'home_index' as header_url %}
  {% endif %}
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <h1 id="site-name">
        <a href="{{ header_url }}">
          <strong>
            {{ site_header }}
          </strong>
        </a>
      </h1>
    </div>
  </nav>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block userlinks %}
  {% block welcome-msg %}{% endblock %}
  {% if site_url %}
    <a href="{{ site_url }}">{% trans 'Mapa' %}</a>
  {% endif %}
  {% if user.is_active and user.is_staff %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
      <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
    {% endif %}
  {% endif %}
  {% if user.has_usable_password %}
    <a href="{% url 'password_change' %}">
      {% trans 'Change password' %}
    </a>
  {% endif %}
  {% if not user.is_anonymous %}
    <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
      {% csrf_token %}
      <button type="submit">
        {% translate 'Log out' %}
        <i class="material-icons" aria-hidden="true">exit_to_app</i>
      </button>
    </form>
  {% endif %}
{% endblock %}

{% block footer %}
  {{ block.super }}
  <script src="{% static 'js/materialize-inits.js' %}"></script>
{% endblock %}