{% load tree_menu_tags %}

{% ifequal menu_type "unordered-list" %}
  {% if menu_item.has_children %}
    <li class="dropdown">
      {% if menu_item.url %}
        <a href="{{ menu_item.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ menu_item.caption }}</a>
      {% else %}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ menu_item.caption }} <span class="caret"></span></a>
      {% endif %}
      <ul class="dropdown-menu" role="menu">
    	{% for child in menu_item.children %}
    	  {% show_menu_item child %}
    	{% endfor %}
      </ul>
    </li>
  {% else %}
    <li><a href="{{ menu_item.url }}">{{ menu_item.caption }}</a></li>
  {% endif %}
{% endifequal %}
