Django==1.6.5
Geraldo==0.4.17
Pillow==2.5.1
django-auth-ldap==1.2.0
django-autoslug==1.7.2
django-extensions==1.3.8
git+git://github.com/jacobian/django-googlecharts.git@c542996cf9a7a097b447e1ce5a1a6b66bdad254f#egg=django_googlecharts-master
django-localflavor==1.0
django-treemenus==0.9.1
eav-django==1.4.5
html5lib==0.999
pisa==3.0.33
reportlab==2.7
six==1.7.3

# Dependencias de producao
gunicorn==18.0
python-memcached==1.53
