{% extends "admin/base_site.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}{% trans 'SIGI' %}{% endblock %}

{% block extrahead %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
	<script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
	<script type="text/javascript" src="{% static "admin/js/jquery-1.9.1.min.js" %}"></script>
	<script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="{% static 'metas/js/mapa.js' %}" ></script>
	<style>
	  .totalizador {
	  	float:right;
	  }
	  #filter_form {
	  	padding: 10px;
	  }
	</style>
{% endblock %}

{% block content_title %}
<h1>{% trans 'Mapa de atuação do Interlegis' %}</h1>
{% endblock %}

{% block object-tools %}
	{{ block.super }}
	<form class="navbar-form navbar-right" role="search" id="changelist-search" action="" method="get">
		<div class="form-group"><!-- DIV needed for valid HTML -->
		    <div class="input-group">
		        <input type="text" class="form-control search-query" placeholder="{% trans 'Search' %}" size="40" name="q" value="" id="searchbar" />
		        <span class="input-group-btn">
		            <button class="btn btn-default" type="submit">
		                <span class="glyphicon glyphicon-search"></span>
		            </button>
		        </span>
		    </div>
		</div>
	</form>
{% endblock %}

{% block object-tools-items %}
	<li><a href="/dashboard/mapsum/" id="summary_report" onclick="return false;">
        <span class="glyphicon glyphicon-list-alt"></span>
		{% trans 'Relatório resumo' %}
	</a></li>
	<li><a href="/dashboard/maplist/" id="list_report" onclick="return false;">
        <span class="glyphicon glyphicon-list"></span>
		{% trans 'Listagem das Casas' %}
	</a></li>
    <li><a href="/dashboard/maplist/?fmt=csv" id="list_csv" onclick="return false;">
        <span class="glyphicon glyphicon-export"></span>
    	{% trans 'Exportar Casas' %}
    </a></li>
	<li><a href="#" id="closeiwlink">
        <span class="glyphicon glyphicon-remove"></span>
		{% trans 'Fechar todas as janelas de informação' %}
	</a></li>
{% endblock %}

{% block content %}
<div class="row row-flex row-flex-wrap">

  <div class="col-md-10">
	<div id="map" style="width:100%; height: 1100px; float: left;">
		<!-- google map -->
	</div>
  </div>

  <div class="col-md-2">
    <div class="panel panel-primary flex-col">

      	<div class="panel-heading">{% trans 'Filtros' %}</div>

		<form id="filter_form" method="get" action="">
  	    {% for name, heading, choices in filters %}
	      <h4>{{ heading }}</h4>
	        <ul>
	        {% for value, span_id, label, checked in choices %}
	          <li><input type="checkbox" name="{{ name }}" value="{{ value }}" {% if checked %}checked="checked" {% endif %}/>
	            {{ label }}
	            <span id="{{ span_id }}" class="totalizador">&nbsp;</span>
	          </li>
	        {% endfor %}
	        </ul>
	    {% endfor %}
		</form>
    </div>
  </div>
{% endblock %}

