{% extends "admin/base_site.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}SIGI{% endblock %}

{% block extrahead %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
	<script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
	<script type="text/javascript" src="{% static "admin/js/jquery.min.js" %}"></script>
	<script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="{% static 'js/metas/mapa.js' %}" ></script>
	<style>
	  .totalizador {
	  	float:right;
	  }
	  #filter_form {
	  	padding: 10px;
	  }
	</style>
{% endblock %}

{% block content_title %}
<h1>Mapa de atuação do Interlegis</h1>
{% endblock %}

{% block object-tools %}
	{{ block.super }}
	<form class="navbar-form navbar-right" role="search" id="changelist-search" action="" method="get">
		<div class="form-group"><!-- DIV needed for valid HTML -->
		    <div class="input-group">
		        <input type="text" class="form-control search-query" placeholder="{% trans 'Search' %}" size="40" name="q" value="" id="searchbar" />
		        <span class="input-group-btn">
		            <button class="btn btn-default" type="submit">
		                <span class="glyphicon glyphicon-search"></span>
		            </button>
		        </span>
		    </div>
		</div>
	</form>
{% endblock %}

{% block object-tools-items %}
	<li><a href="/dashboard/mapsum/" id="summary_report" onclick="return false;">
        <span class="glyphicon glyphicon-list-alt"></span>
		Relatório resumo
	</a></li>
	<li><a href="/dashboard/maplist/" id="list_report" onclick="return false;">
        <span class="glyphicon glyphicon-list"></span>
		Listagem das Casas
	</a></li>
    <li><a href="/dashboard/maplist/?fmt=csv" id="list_csv" onclick="return false;">
        <span class="glyphicon glyphicon-export"></span>
    	Exportar Casas
    </a></li>
	<li><a href="#" id="closeiwlink">
        <span class="glyphicon glyphicon-remove"></span>
		Fechar todas as janelas de informação
	</a></li>
{% endblock %}

{% block content %}
<div class="row row-flex row-flex-wrap">

  <div class="col-md-10">
	<div id="map" style="width:100%; height: 1100px; float: left;">
		<!-- google map -->
	</div>
  </div>

  <div class="col-md-2">
    <div class="panel panel-primary flex-col">

      	<div class="panel-heading">Filtros</div>

		<form id="filter_form" method="get" action="">
	      <h4>Por Serviços SEIT</h4>
	        <ul>
	        {% for s in servico_choices %}
	          <li><input type="checkbox" name="seit" value="{{ s.sigla }}"
	                  {% if s.sigla in seit %} checked="checked" {% endif %}/>
	            {{ s.nome }}
	            <span id="{{ s.sigla }}" class="totalizador">&nbsp;</span>
	          </li>
	        {% endfor %}
	        </ul>
	      <h4>Por Casas conveniadas</h4>
	        <ul>
	        {% for p in projeto_choices %}
	          <li><input type="checkbox" name="convenios" value="{{ p.sigla }}" {% if p.sigla in convenios %}checked="checked" {% endif %}/>
	            ao {{ p.sigla }} <span id="convenio_{{ p.sigla }}" class="totalizador">&nbsp;</span> </li>
	        {% endfor %}
	        </ul>
	      <h4>Por Casas equipadas</h4>
	        <ul>
	          {% for p in projeto_choices %}
	          <li><input type="checkbox" name="equipadas" value="{{ p.sigla }}" {% if p.sigla in equipadas %}checked="checked"{% endif %} />
	            pelo {{ p.sigla }}<span id="equip_{{ p.sigla }}" class="totalizador">&nbsp;</span> </li></li>
	          {% endfor %}
	        </ul>
	      <h4>Por Diagnósticos</h4>
	        <ul>
	          <li><input type="checkbox" name="diagnosticos" value="A" {% if "A" in diagnosticos %}checked="checked" {% endif %}/>
	            Em andamento<span id="diagnostico_A" class="totalizador">&nbsp;(1)</span></li>
	          <li><input type="checkbox" name="diagnosticos" value="P" {% if "P" in diagnosticos %}checked="checked" {% endif %}/>
	            Publicados<span id="diagnostico_P" class="totalizador">&nbsp;(1)</span></li>
	        </ul>
	      <h4>Por região</h4>
	      <ul>
	      {% for r in regiao_choices %}
	        <li><input type="checkbox" name="regioes" value="{{ r.0 }}" {% if r.0  in regioes %}checked="checked"{% endif %}/> {{ r.1 }}
	            <span id="{{ r.0 }}" class="totalizador">&nbsp;(1)</span></li>
	      {% endfor %}
	      </ul>
	      <h4>Por Estado</h4>
	        <ul>
	        {% for e in estado_choices %}
	          <li><input type="checkbox" name="estados" value="{{ e.sigla }}"
	                  {% if e.sigla in estados %} checked="checked" {% endif %}/>
	            {{ e.nome }}
	            <span id="{{ e.sigla }}" class="totalizador">&nbsp;(1)</span>
	          </li>
	        {% endfor %}
	        </ul>
		</form>



    </div>
  </div>



{% endblock %}

