.categoria_C {
    --bs-table-bg: #ffcdd2;
    background-color: #ffcdd2 !important;
}

.categoria_E {
    --bs-table-bg: #e1bee7;
    background-color: #e1bee7 !important;
}

.categoria_O {
    --bs-table-bg: #bbdefb;
    background-color: #bbdefb !important;
}

.categoria_S {
    --bs-table-bg: #ffe0b2;
    background-color: #ffe0b2 !important;
}

.categoria_V {
    --bs-table-bg: #d7ccc8;
    background-color: #d7ccc8 !important;
}

.status_P::before {
    content: "\f293";
}

.status_O::before {
    content: "\f417";
}

.status_R::before {
    content: "\f360";
}

.status_C::before {
    content: "\f368";
}

.status_Q::before {
    content: "\f35e";
}

table.calendar-table {
    table-layout: fixed;
}

.data-evento {
    font-size: 0.9em;
    color: var(--body-quiet-color);
    display: block;
}

.tipo-evento {
    font-size: 0.9em;
    color: var(--body-quiet-color);
    display: block;
    margin-bottom: 8px;
}


/*-------------------------------------------------

tr {
    border-bottom: none;
}

tr td {
    padding: 0px 10px;
}

tr.linha-dias {
    background: var(--darkened-bg);
}

tr.linha-evento {
    background: var(--body-bg);
}

.calendar-wrapper {
    width: 100%;
}

.evento {
    padding: 0 6px;
}


span.numero-dia {
    font-size: 1em;
}

---------------------------------------------------*/