#content {
    display: block;
}

.evento {
    padding: 0 6px;
}

.data-evento {
    font-size: 0.9em;
    color: var(--body-quiet-color);
    display: block;
}

.tipo-evento {
    font-size: 0.9em;
    color: var(--body-quiet-color);
    display: block;
    margin-bottom: 8px;
}

.card-title {
    font-size: 20px !important;
    margin-bottom: -6px !important;
}

.card .card-content p {
    margin: 12px;
}

a.format-selector .material-icons {
    line-height: 48px;
}

table {
    table-layout: fixed;
}

tr {
    border-bottom: none;
}

tr td {
    padding: 0px 10px;
}

tr.linha-dias {
    background: var(--darkened-bg);
}


span.numero-dia {
    font-size: 1em;
}

tr.linha-evento {
    background: var(--body-bg);
}

.calendar-wrapper {
    width: 100%;
}