{{ errors }}
{% if errors and not fields %}
<p>{% for field in hidden_fields %}{{ field }}{% endfor %}</p>
{% endif %}
{% for field, errors in fields %}
<div{% with classes=field.css_classes %} class="input-field {{ classes }}" {% endwith %}>
  <small class="error">
    {{ errors }}
  </small>
  {% if field.widget_type == 'checkbox' %}
    <p>
      <label>
        {{ field }}
        <span>{{ field.label }}</span>
      </label>
    </p>
  {% else %}
    {% if field.label %}{{ field.label_tag }}{% endif %}
    {{ field }}
  {% endif %}
  {% if field.help_text %}
  <small class="helptext">{{ field.help_text|safe }}</small>
  {% endif %}
  {% if forloop.last %}
  {% for field in hidden_fields %}{{ field }}{% endfor %}
  {% endif %}
  </div>
  {% endfor %}
  {% if not fields and not errors %}
  {% for field in hidden_fields %}{{ field }}{% endfor %}
  {% endif %}