{% load i18n action_icons %}

<div class="actions">
  {% block actions %}
    {% block actions-form %}
      <input type="hidden" form="changelist-form" name="index" value="{{ action_index|default:0 }}"/>
      {% for field in action_form %}
        {% if field.field.widget.choices %}
          {% for option in field.field.widget.choices %}
            {% if option.0 != "" %}
              <button type="submit" form="changelist-form" class="waves-effect waves-light btn action-button" title="{{ option.1 }}" name="action" value="{{ option.0 }}">
                <i class="material-icons">{% action_icon option.0 %}</i>
              </button>
            {% endif %}
          {% endfor %}
        {% else %}
          <input type="hidden" name="{{ field.name }}" value="{{ field.value }}" class="select-across" form="changelist-form"/>
        {% endif %}
      {% endfor %}
    {% endblock %}
    {% block actions-submit %}
      {% block actions-counter %}
        {% if actions_selection_counter %}
          <span class="action-counter" data-actions-icnt="{{ cl.result_list|length }}">{{ selection_note }}</span>
          {% if cl.result_count != cl.result_list|length %}
            <span class="all hidden">{{ selection_note_all }}</span>
            <span class="question hidden">
              <a href="#" title="{% trans "Click here to select the objects across all pages" %}">{% blocktrans with cl.result_count as total_count %}Select all {{ total_count }} {{ module_name }}{% endblocktrans %}</a>
            </span>
            <span class="clear hidden"><a href="#">{% trans "Clear selection" %}</a></span>
          {% endif %}
        {% endif %}
      {% endblock %}
    {% endblock %}
  {% endblock %}
</div>