{% extends "admin/base.html" %}

{% block title %}{{ title }} | SIGI{% endblock %}

{% block extrastyle %}
<style type="text/css">
<!--
#nav-global {
  background-color: #292929;
}

#nav-global ul {
  margin: 0;
  padding: 1px 10px;
}

#nav-global li {
  display: inline;
  list-style-type: none;
}
-->
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name">Sistema de Informações Gerenciais do Interlegis</h1>
{% endblock %}

{% block nav-global %}
<!--div id="nav-global">
  <ul>
    <li>Casas Legislativas</li>
    <li>Parlamentares</li>
    <li>Mesas Legislativas</li>
    <li>Convênios</li>
    <li>Inventário</li>
   </ul>
</div-->
{% endblock %}
