{% extends "admin/change_list.html" %}
{% load i18n static admin_list %}
{% load i18n admin_urls %}

{% block extrastyle %}
  {{ block.super }}
    <style>
      .side-wrapper {
        width: 100%;
      }
    </style>

    <style>
      #changelist {
        width:100%
       }
    </style>
{% endblock extrastyle %}

{% block breadcrumbs %}{% endblock %}

{% block footer %}
  {{ block.super }}
  <script>
    $(document).ready(function(){
      $('.fixed-action-btn').floatingActionButton();
      M.Tooltip.init($('.tooltipped'), {});
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.getElementById('filter');
      var instances = M.Sidenav.init(elems,'');
    });
  </script>
{% endblock footer %}

{% block content %}
<div id="content-main" class="list-content">
  {% block object-tools %}
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large">
        <i class="large material-icons">build</i>
      </a>
      <ul>
        <li>
          <a href="{% add_preserved_filters add_url is_popup to_field %}" data-target="filter" class="btn-floating tooltipped waves-effect waves-light sidenav-trigger" data-position="left" data-tooltip="{% trans 'Filter' %}">
            <i class="material-icons" aria-hidden="true">filter_list</i>
          </a>
        </li>
        {% block object-tools-items %}
        {% if has_add_permission %}
        <li>
          {% url cl.opts|admin_urlname:'add' as add_url %}
          <a href="{% add_preserved_filters add_url is_popup to_field %}" class="btn-floating tooltipped waves-effect waves-light" data-position="left" data-tooltip="{% trans 'Add' %}">
            <i class="material-icons" aria-hidden="true">add</i>
          </a>
        </li>
        {% endif %}
        {% endblock %}
      </ul>
    </div>
  {% endblock %}
    {% if cl.formset.errors %}
        <p class="errornote">
        {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">

      {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

      <form id="changelist-form" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
        {% if cl.formset %}
          <div>{{ cl.formset.management_form }}</div>
        {% endif %}

        {% block result_list %}
          {% result_list cl %}
          {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
        {% endblock %}
        {% block pagination %}{% pagination cl %}{% endblock %}
      </form>
    </div>
    <ul id="filter" class="sidenav">
      <div id="side-wrapper" class="side-wrapper">
        <div id="changelist-form" class="card">
          {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
        </div>
        <div class="card">
          {% block search %}{% search_form cl %}{% endblock %}
        </div>
        <div class="card">
          {% block filters %}
            {% if cl.has_filters %}
              <div class="card-content" id="changelist-filter">
              <label class="label">{% trans 'Filter' %}</label>
              {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
              </div>
            {% endif %}
          {% endblock %}
        </div>
      </div>
    </ul>
  </div>
{% endblock %}
