{% extends "admin/change_list.html" %}
{% load i18n static admin_list %}
{% load i18n admin_urls %}

{% block extrastyle %}
  {{ block.super }}
    <style>
      .side-wrapper {
        width: 100%;
      }
      #changelist {
        width:100%
      }

    .float-filter {
      right: 0;
      left: auto;
      position: fixed;
      width: 300px;
      top: 0;
      margin: 0;
      height: calc(100% + 60px);
      padding-bottom: 60px;
      background-color: #fff;
      z-index: 999;
      overflow-y: auto;
      will-change: transform;
      backface-visibility: hidden;
    }

    </style>
{% endblock extrastyle %}

{% block object-tools %}
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large">
      <i class="large material-icons">build</i>
    </a>
    <ul>
      {% block object-tools-items %}
      <li>
        <a href="#" data-target="float-filter" class="btn-floating tooltipped waves-effect waves-light sidenav-trigger" data-position="left" data-tooltip="{% trans 'Filter' %}">
          <i class="material-icons" aria-hidden="true">filter_list</i>
        </a>
      </li>
      {% if has_add_permission %}
      <li>
        {% url cl.opts|admin_urlname:'add' as add_url %}
        <a href="{% add_preserved_filters add_url is_popup to_field %}" class="btn-floating tooltipped waves-effect waves-light" data-position="left" data-tooltip="{% trans 'Add' %}">
          <i class="material-icons" aria-hidden="true">add</i>
        </a>
      </li>
      {% endif %}
      {% endblock %}
    </ul>
  </div>
{% endblock %}

{% block side_wrapper %}
  <div id="float-filter" class="float-filter hide">
    <div id="side-wrapper" class="side-wrapper">
      <div id="changelist-form" class="card">
        {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
      </div>
      <div class="card">
        {% block search %}{% search_form cl %}{% endblock %}
      </div>
      <div class="card">
        {% block filters %}
          {{ block.super }}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ block.super }}
  <script>
    $(document).ready(function(){
      $('.fixed-action-btn').floatingActionButton();
      M.Tooltip.init($('.tooltipped'), {});
//      M.Sidenav.init($("#filter"), {edge: 'right'});
      $('.float-filter').each(function() {
        var id=this.id;
        $(`[data-target="${id}"]`).on("click", function(e) {
          e.preventDefault();
          console.log('Rodou aqui também');
          var targetid = $(this).attr('data-target');
          $(`#${targetid}`).toggleClass('hide');
        });
      });
    });
  </script>
{% endblock footer %}

