{% extends "admin/change_list.html" %}
{% load i18n static admin_list %}
{% load i18n admin_urls %}

{% block breadcrumbs %}{% endblock %}

{% block object-tools %}
<div class="fixed-action-btn">
  <a class="btn-floating btn-large">
    <i class="large material-icons">build</i>
  </a>
  <ul>
  {% block object-tools-items %}
    {% if has_add_permission %}
    <li>
      {% url cl.opts|admin_urlname:'add' as add_url %}
      <a href="{% add_preserved_filters add_url is_popup to_field %}" class="btn-floating tooltipped waves-effect waves-light" data-position="left" data-tooltip="{% trans 'Add' %}">
        <i class="material-icons" aria-hidden="true">add</i>
      </a>
    </li>
    {% endif %}
  {% endblock %}
  </ul>
</div>
{% endblock %}

{% block footer %}
  {{ block.super }}
  <script>
    $(document).ready(function(){
      $('.fixed-action-btn').floatingActionButton();
      M.Tooltip.init($('.tooltipped'), {});
    });
  </script>
{% endblock footer %}
