{% extends "base_mobile.html" %}
{% load i18n %}

{% block cabecalho %}
    <h1>{% trans 'Ocorreu um erro' %}</h1>
{% endblock cabecalho %}
{% block corpo %}
    <p>{% trans 'A página que está procurando não existe.' %} </p>
    <p>{% trans 'Verifique se o diagnóstico, categoria ou pergunta está cadastrado no sistema.' %}</p>
    <a href="{% url 'lista_diagnosticos' %}" data-icon="arrow-l"
    data-direction="reverse" data-role="button" data-theme="c" class="ui-btn-left">{% trans 'Voltar' %}</a>
{% endblock corpo %}

{% block rodape %}

{% endblock rodape %}
