{% extends 'pdf/base_report.html' %}
{% load static i18n %}

{% block page_size %}A4 landscape{% endblock %}

{% block main_content %}
  <table repeat="1">
    <thead>
      <tr>
        <th style="width: 22.5%;">{% trans 'Casa'       %}</th>
        <th style="width: 12.5%;">{% trans 'Presidente' %}</th>
        <th style="width:    5%;">{% trans 'Tipo'       %}</th>
        <th style="width:   18%;">{% trans 'Endereço'   %}</th>
        <th style="width:   10%;">{% trans 'Bairro'     %}</th>
        <th style="width:    7%;">{% trans 'CEP'        %}</th>
        <th style="width: 12.5%;">{% trans 'Telefone'   %}</th>
        <th style="width: 12.5%;">{% trans 'E-mail'     %}</th>
      </tr>
    </thead>

    {% for casa in casas %}
      {% ifchanged casa.municipio.uf %}
        <tr class="title_row"><td colspan="8"><h1>{{ casa.municipio.uf.nome }}</h1></td></tr>
      {% endifchanged %}
      <tr>
        <td>{{ casa.nome           }}</td>
        <td>{{ casa.presidente     }}</td>
        <td>{{ casa.tipo.sigla     }}</td>
        <td>{{ casa.logradouro     }}</td>
        <td>{{ casa.bairro         }}</td>
        <td>{{ casa.cep            }}</td>
        <td>{{ casa.telefone       }}</td>
        <td>{{ casa.email          }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock main_content %}