{% extends "admin/change_list.html" %}
{% load adminmedia admin_list i18n reporting_tags  %}

{% block object-tools %}
  {% if has_add_permission %}
    <ul class="object-tools">
        <li><a href="reports/{{query_str}}">Relatório</a> </li>
        <li><a href="labels/{{ query_str }}">Gerar etiquetas</a></li>
        <li>
            <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
                {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
            </a>
        </li>
    </ul>
  {% endif %}
{% endblock %}
