{% extends "admin/base_block.html" %}
{% load i18n static admin_urls %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'ocorrencias/css/painel_ocorrencias.css' %}">
{% endblock %}

{% block content_title %}
  <h5>{{ panel_title }}</h5>
  {% if panel_subtitles %}
  <blockquote>
    <h6>{% trans "Filter" %}:</h6>
    {% for subt in panel_subtitles %}
      <h6>{{ subt }}</h6>
    {% endfor %}
  {% endif %}
  </blockquote>
{% endblock content_title %}

{% block content %}
  {% block object-tools %}
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large">
        <i class="large material-icons">build</i>
      </a>
      <ul>
        {% block object-tools-items %}
        <li>
          <a href="#float-filter" class="btn-floating tooltipped waves-effect waves-light modal-trigger" data-position="left" data-tooltip="{% trans 'Filter' %}">
            <i class="material-icons" aria-hidden="true">filter_list</i>
          </a>
        </li>
        {% if has_add_permission %}
        <li>
          <a href="{% url 'admin:ocorrencias_ocorrencia_add' %}" class="btn-floating tooltipped waves-effect waves-light" data-position="left" data-tooltip="{% trans 'Add' %}">
            <i class="material-icons" aria-hidden="true">add</i>
          </a>
        </li>
        {% endif %}
        {% endblock %}
      </ul>
    </div>
    <div id="float-filter" class="modal">
      <form id="filter-form" method="get">
        <div id="side-wrapper" class="modal-content">
          {% block filters %}
            {% if filter %}
              <h4>{% trans 'Filter' %}</h4>
              <div class="row">
                <div class="col s12">
                  <a href="?">{% trans "Clear all filters" %}</a>
                </div>
              </div>
              <div class="row">
                {{ filter.form }}
              </div>
            {% endif %}
          {% endblock %}
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">{% trans "Close" %}</a>
          <button id="apply-filters" type="submit" class="waves-effect waves-green btn-flat">{% trans 'Filtrar' %}</button>
        </div>
      </form>
    </div>
  {% endblock %}

  {% block ocorrencia_cards %}
    {% for ocorrencia in ocorrencias %}
      {% include 'ocorrencias/painel_snippet.html' %}
    {% endfor %}
  {% endblock ocorrencia_cards %}

  {% block paginator %}
    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="waves-effect"><a href="?{{ filter.preserve_filter }}&page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
        {% else %}
          <li class="disabled"><a href="?{{ filter.preserve_filter }}"><i class="material-icons">chevron_left</i></a></li>
        {% endif %}
        {% for page_number in page_obj.paginator.page_range %}
          <li class=" {% if page_number == page_obj.number %}active{% else %}waves-effect{% endif %}"><a href="?{{ filter.preserve_filter }}&page={{ page_number }}">{{ page_number }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="waves-effect"><a href="?{{ filter.preserve_filter }}&page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
          <li class="disabled"><a href="?{{ filter.preserve_filter }}"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
      </ul>
    {% endif %}
  {% endblock paginator %}
{% endblock %}

{% block footer %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'ocorrencias/js/painel_ocorrencias.js' %}"></script>
{% endblock %}