{% extends "crud/detail.html" %}
{% load i18n %}

{% block actions %}
  <div class="actions btn-group pull-right" role="group">
    <a href="{% url 'usuarios:habilitar_edit' pk %}" class="btn btn-default">{% trans 'Editar' %}</a>
  </div>
{% endblock actions %}

{% block msg %}
  {% if not usuario.habilitado %}
    <h4><font face="verdana" color="red"><p>Esse perfil ainda <strong>não está habilitado</strong> para uso das funcionalidades.</p></font></h4>
  {% else %}
    <h4><font face="verdana" color="green"><p>Esse perfil já <strong>está habilitado</strong> para uso das funcionalidades.</p></font></h4>
  {% endif %}
{% endblock msg %}

{% block title %}
  <h1 class="page-header"> Habilitar </h1>
{% endblock %}

{% block detail_content %}
  <br />
  <dl>
    <dt>Nome completo: </dt>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- {{ usuario.nome_completo }}</dd>
    <dt>Email: </dt>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- {{ usuario.email }}</dd>
    <dt>CPF: </dt>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- {{ usuario.cpf }}</dd>
    <dt>Cargo: </dt>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- {{ usuario.cargo }}</dd>
    <dt>Vinculo: </dt>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- {{ usuario.vinculo }}</dd>
    <dt>Casa Legislativa: </dt>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- {{ usuario.casa_legislativa }}</dd>
    <dt>Telefones: </dt>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- [{{ usuario.primeiro_telefone.ddd }}] - {{usuario.primeiro_telefone.numero}}</dd>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- [{{ usuario.segundo_telefone.ddd }}] - {{usuario.segundo_telefone.numero}}</dd>
  </dl>
{% endblock detail_content %}
