{% extends "crud/detail.html" %}
{% load i18n %}

{% block actions %}
  <div class="actions btn-group pull-right" role="group">
    <a href="{{ view.update_url }}" class="btn btn-default">{% trans 'Editar Perfil' %}</a>
  </div>
{% endblock actions %}

{% block detail_content %}
  <br />
  <table class="table table-striped table-bordered">
    <tr><th>Nome de Usuário: </th><td>{{object.username}}</td></tr>
    <tr><th>Nome completo: </th><td>{{object.nome_completo}}</td></tr>
    <tr><th>Email: </th><td>{{object.email}}</td></tr>
    <tr><th>CPF: </th><td>{{object.cpf}}</td></tr>
    <tr><th>RG: </th><td>{{object.rg}}</td></tr>
    <tr><th>Casa Legislativa: </th><td>{{object.casa_legislativa}}</td></tr>
    <tr><th>Cargo: </th><td>{{object.cargo}}</td></tr>
    <tr><th>Vínculo: </th><td>{{object.vinculo}}</td></tr>
    <tr><th>Telefone(s): </th>
      <td>
        {% for tel in telefones %}
          {{tel|last}}<br/>
        {% endfor %}
      </td>
    </tr>
  </table>
{% endblock %}
