{% extends "crud/detail.html" %}
{% load i18n %}

{% block actions %}
  <div class="actions btn-group pull-right" role="group">
    <a href="{{ view.update_url }}" class="btn btn-default">{% trans 'Editar Perfil' %}</a>
  </div>
{% endblock actions %}

{% block msg %}
  {% if not usuario.habilitado %}
    <h4><font face="verdana" color="red"><p>Esse perfil ainda <strong>não está habilitado</strong> para uso das funcionalidades.</p></font></h4>
  {% else %}
    <h4><font face="verdana" color="green"><p>Esse perfil já <strong>está habilitado</strong> para uso das funcionalidades.</p></font></h4>
  {% endif %}
{% endblock msg %}

{% block extrablock %}

  {% for tel in telefones %}
    <div class="col-sm-span">
      <div class="form-group">
        <p class="control-label">{{tel|first}}</p>
        <div class="controls">
          <p class="form-control-static">{{ tel|last }}</p>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock %}
