{% extends "admin/base_block.html" %}
{% load i18n %}

{% block content %}
<h4>{% trans "Solicitações de convenio" %}</h4>
<table class="striped">
  <thead>
    <tr>
      <th>{% trans "Data abertura" %}</th>
      <th>{% trans "Casa solicitante" %}</th>
      <th>{% trans "Assunto" %}</th>
      <th>{% trans "Comentários" %}
      <th>{% trans "Situação" %}</th>
      <th>{% trans "Detalhes" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for ocorrencia in ocorrencias %}
    <tr>
      <td>{{ ocorrencia.data_criacao|date:"SHORT_DATE_FORMAT" }}</td>
      <td>{{ ocorrencia.casa_legislativa }}</td>
      <td>{{ ocorrencia.assunto }}</td>
      <td><span class="badge">{{ ocorrencia.comentarios.count }}</span></td>
      <td>
        <ul>
        {% for key, value in ocorrencia.get_infos_details.items %}
          <li>
            <i class="material-icons {% if value.0 %}green-text{% else %}red-text{% endif %}">{% if value.0 %}done{% else %}clear{% endif %}</i>
            {{ value.1 }}
          </li>
        {% endfor %}
        </ul>
      </td>
      <td>
        <a href="{% url 'painel-convenio' ocorrencia.id %}"><i class="material-icons">details</i></a>
      </td>
    {% endfor %}
  </tbody>
</table>
{% endblock %}