{% extends "ocorrencias/convenio/base_convenio.html" %}
{% load static i18n %}

{% block content %}
<div class="main-content">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{% trans "Solicitar convênio" %}</span>
          {% blocktrans %}
          <p>Para que uma Casa Legislativa possa utilizar, gratuitamente, os
            serviços do Interlegis / Senado Federal, é necessário formalizar
            um convênio, na forma de um Acordo de Cooperação Técnica (ACT),
            na forma da lei <a href="http://www.planalto.gov.br/ccivil_03/_ato2019-2022/2021/lei/L14133.htm">Lei Nº 14.133/2021</a>
            e da lei <a href="http://www.planalto.gov.br/ccivil_03/leis/l8666cons.htm">Lei Nº 8.666/1993</a>.
          </p>
          <p>Para solicitar o ACT, serão necessárias as seguintes informações:</p>
          <ul class="browser-default">
            <li>Dados cadastrais da Casa Legislativa, como CNPJ, endereço, e-mail, telefone.</li>
            <li>Dados cadastrais do Presidente, como nome, CPF, identidade, e-mail, telefone, redes sociais.</li>
            <li>Designação de um servidor como Contato Interlegis.</li>
          </ul>
          {% endblocktrans %}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{% trans "Identifique sua Casa Legislativa" %}</span>
          <p>{% trans "Informe o nome do município ou Estado da sua Casa Legislativa" %}:</p>
          <div class="input-field">
            <i class="material-icons prefix">search</i>
            <input type="text" class="search-text" placeholder="{% trans "Procurar" %}" aria-label="{% trans "Procurar" %}" data-source="{% url 'openmapsearch' %}" data-param="q">
            <div class="search-result hide" data-item-click="seleciona_casa"></div>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
  {{ block.super }}
  <script>
    function seleciona_casa(data) {
      $(location).attr("href", `{% url 'ocorrencias-seleciona-casa' %}?casa_id=${data.id}`);
    }
  </script>
{% endblock %}