{% load i18n admin_static %}
{% load static from staticfiles %}
{% load thumbnail %}

{% static 'ocorrencias/images/lid.png' as default_lid %}
{% static 'ocorrencias/images/mm.png' as default_mm %}

<div class="panel panel-default" id='ticket_{{ ocorrencia.id|safe }}'>
	<div class="panel-heading">
		<div class="media">
			<div class="media-left">
				<img class="media-object" src="{{ ocorrencia.casa_legislativa.foto|thumbnail_url:'thumb'|default:default_lid }}" alt=""/>
			</div>
			<div class="media-body">
				<h4><a href="{{ url_painel }}?type=casa&id={{ ocorrencia.casa_legislativa_id|safe }}">
					{{ ocorrencia.casa_legislativa.nome }}, {{ ocorrencia.casa_legislativa.municipio.uf.sigla }}</a></h4>
				<p><a href="{{ ocorrencia.get_absolute_url }}">{% trans "Ticket #" %}{{ ocorrencia.id|safe }}</a>:
					{% blocktrans with data_criacao=ocorrencia.data_criacao tipo_contato=ocorrencia.tipo_contato categoria=ocorrencia.categoria id_setor=ocorrencia.setor_responsavel_id|safe setor=ocorrencia.setor_responsavel.sigla status=ocorrencia.get_status_display %}
					Criado em {{ data_criacao }} via {{ tipo_contato }} solicitando {{ categoria }},
					está no setor <a href="{{ url_painel }}?type=servico&id={{ id_setor }}">{{ setor }}</a>
					com status {{ status }}
					{% endblocktrans %}</p>
				<p>{% trans "Gerente de contas:" %} 
					<a href="{{ url_painel }}?type=servidor&id={{ ocorrencia.casa_legislativa.gerente_contas_id|safe }}">
					{{ ocorrencia.casa_legislativa.gerente_contas }}</a></p>
				{% trans 'Prioridade' %}: 
				<div class="btn-group btn-group-xs" data-toggle="buttons" role="group" aria-label="...">
				  {% for id, name in PRIORITY_CHOICES %}
				    <label class="btn btn-primary {% if id == ocorrencia.prioridade %}active{% endif %}">
				    	<input type="radio" name="ocorrencia-{{ ocorrencia.id|safe }}" value="{{ id|safe }}" autocomplete="off"{% if id == ocorrencia.prioridade %} checked {% endif %}>
				  		{{ name }}
				  	</label>
				  {% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="media">
			<div class="media-left">
				<img class="media-object" src="{{ ocorrencia.servidor_registro.foto|thumbnail_url:'icon'|default:default_mm }}" alt=""/>
			</div>
			<div class="media-body">
				<p><a href="{{ url_painel }}?type=servidor&id={{ ocorrencia.servidor_registro_id|safe }}">
					<strong>{{ ocorrencia.servidor_registro }}</strong></a>
					{% trans 'comentou' %}:</p>
				<p>{{ ocorrencia.descricao }}</p>
			</div>
		</div>
		
		{% for comentario in ocorrencia.comentarios.all %}
		<div class="media">
			<div class="media-left">
				<img class="media-object" src="{{ comentario.usuario.foto|thumbnail_url:'icon'|default:default_mm }}" alt=""/>
			</div>
			<div class="media-body">
				<p><a href="{{ url_painel }}?type=servidor&id={{ comentario.usuario_id|safe }}">
					<strong>{{ comentario.usuario.nome_completo }}</strong></a>
					{% trans 'comentou' %}:</p>
				<p>{{ comentario.descricao }}</p>
				<p class="small">{% trans 'Em' %} {{ comentario.data_criacao }}
				{% if comentarui.status %}
					| {% trans 'novo status' %}: {{ comentario.get_novo_status_display }}
				{% endif %}
		   		{% if comentario.encaminhar_setor %}
		   			| {% trans 'Encaminhado para' %} {{ comentario.encaminhar_setor.sigla }}
		   		{% endif %}
		   	</div>
		</div> 
		{% endfor %}
		<a id='link_comentar_{{ ocorrencia.id|safe }}' role="button" data-toggle="collapse" href="#comentario_{{ ocorrencia.id|safe }}" aria-expanded="false" aria-controls="comentario_{{ ocorrencia.id|safe }}">
			{% trans "Comentar esta ocorrência" %}
		</a>
		<div class="collapse" id="comentario_{{ ocorrencia.id|safe }}">
			<form id="comentar_ocorrencia_{{ ocorrencia.id|safe }}" action="{% url 'ocorrencia-incluicomentario' %}" method="post" data-ocorrencia-id="{{ ocorrencia.id|safe }}">
				{% csrf_token %} 
				{{ comentario_form.non_field_errors }}
				{% for field in comentario_form %}
			    <div class="fieldWrapper">
			    	{% if field.name == 'ocorrencia' %}
			    		<input type='hidden' name='ocorrencia' value='{{ ocorrencia.id|safe }}'/>
			    	{% else %}
			        	{{ field.errors }}
			        	<p>{{ field.label_tag }} {{ field }}</p>
			        {% endif %}
			    </div>
				{% endfor %}
				<input type="submit" value="{% trans 'Comentar' %}">
			</form>							
		</div>
  	</div>
  	<div class="panel-footer">
		<a id='link_anexos_{{ ocorrencia.id|safe }}'role="button" data-toggle="collapse" href="#anexos_{{ ocorrencia.id|safe }}" aria-expanded="false" aria-controls="anexos_{{ ocorrencia.id|safe }}">
			{% blocktrans count counter=ocorrencia.total_anexos %}
				{{ counter }} arquivo anexo
			{% plural %}
				{{ counter }} arquivos anexos
			{% endblocktrans %}
		</a>

		<div class="collapse" id="anexos_{{ ocorrencia.id|safe }}">
			{% include 'ocorrencias/anexos_snippet.html' %}
		</div>
	</div>
</div>
