{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}Relatórios{% endblock %}

{% block content %}

<h2>Relatórios {{submenu}}</h2>

{%if folders or reports %}
	<ul>
	{% for folderName, folderDesc in folders.iteritems %}
		<li><a href="/birt/menu/{{ folderName }}" title="{{folderDesc.title}}">{{ folderDesc.name }}</a></li>
	{% endfor %}
	{% for fileName, report in reports.iteritems %}
		<li><a href="/birt/run/{{fileName}}" title="{{report.title}}">{{report.name}}</a></li> 
	{% endfor %}
	</ul>
{%else%}
	<p>Nenhum item para exibir</p>
{%endif%}

{% endblock %}