{% load static i18n %}<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/minimapa.css' %}" />
    <style type="text/css">
      .card-title {
        background-color: rgba(0,0,0,.03);
        padding-left: 24px;
        border-left: 5px solid #ee6e73;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>{% trans "Órgãos Legislativos atendidos pelo Interlegis" %}</title>
  </head>
  <body>
    <div class="mb-5">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'openmap' %}" target="_top">Mapa</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'servicos_casas_atendidas' %}">{% trans "Tudo" %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'servicos_casas_atendidas' 'ZZ' %}">{% trans "Estrangeiros" %}</a>
              </li>
              {% for regiao, ufs in regioes %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-{{ regiao }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ regiao }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown-{{ regiao }}">
                    {% for uf in ufs %}
                      <li><a class="dropdown-item" href="{% url 'servicos_casas_atendidas' uf.sigla %}">{{ uf.nome }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link btn btn-outline-primary" aria-current="page" href="?format=csv{% if search_param %}?search={{ search_param }}{% endif %}"><i class="bi bi-filetype-pdf"></i> {% trans "Download CSV" %}</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container mt-3">
        <h5>{% trans "Órgãos Legislativos atendidos pelo Interlegis" %}</h5>
        <div class="row align-items-center">
          <div class="col-md-8">
            <div class="alert alert-info" role="alert">
              {% blocktranslate count counter=tot_orgaos %}
                Um órgão encontrado
                {% plural %}
                {{ counter }} órgãos encontrados
              {% endblocktranslate %}
              {% if uf %}
                {% blocktranslate with uf_name=uf.nome%} em {{ uf_name}}{% endblocktranslate %}
              {% endif %}
              {% if search_param %}
                {% blocktranslate with exp=search_param %} que contém <em>{{ exp }}</em>.{% endblocktranslate %}
              {% endif %}
            </div>
            <form class="d-flex">
              <div class="input-group">
                <input class="form-control" name="search"{% if search_param %} value="{{ search_param }}"{% endif %} type="search" placeholder="{% trans "Pesquisar" %}" aria-label="{% trans "Pesquisar" %}">
                <button class="btn btn-secondary" type="submit"><i class="bi bi-search"></i></button>
              </div>
            </form>
          </div>
          <div class="col-md-4">
            <div class="minimapa">
              <style>
                #map-{{ uf.sigla }} path, #map-{{ uf.sigla }} circle {
                  fill: #003399 !important;
                }    
              </style>
              {% url 'servicos_casas_atendidas' as base_url %}
              {% include 'home/minimapa.svg' with base_url=base_url end_slash="/" %}
            </div>
          </div>
        </div>
        {% include "servicos/navigator_snippet.html" %}
        {% for orgao in page_obj %}
          {% ifchanged orgao.municipio.uf %}
            <h6 class="mt-3">{% blocktranslate with nome_uf=orgao.municipio.uf.nome %}Unidade da Federação: {{ nome_uf }}{% endblocktranslate %}</h6>
          {% endifchanged %}
          <div class="card text-dark bg-light shadow mb-3">
            <div class="card-header">
              <div class="d-inline-flex">
                <div class="me-3 d-none d-lg-block">
                  {% if orgao.foto %}
                    <img src="{{ orgao.foto.url }}" style="height: 120px;" height="120"/>
                  {% else %}
                    <i class="bi bi-buildings" style="font-size: 5rem;"></i>
                  {% endif %}
                </div>
                <div class="d-block">
                  <strong>{{ orgao.nome }}</strong><br/>
                  <small>{{ orgao.cnpj}} - {{ orgao.tipo.nome }}</small>
                  <address>
                    <strong>{{ orgao.logradouro }} {{ orgao.bairro }}</strong><br/>
                    {{ orgao.cep }} - {{ orgao.municipio.nome }}, {{ orgao.municipio.uf.sigla }}<br/>
                    <a href="mailto:{{ orgao.email }}" target="_blank">{{ orgao.email }}</a> - <a href="tel:{{ orgao.telefone|phone2numeric }}" target="_blank">{{ orgao.telefone }}</a>
                  </address>
                </div>
              </div>
            </div>
            <div class="card-body">
              {% if orgao.convenios %}
                <h6 class="card-title">{% trans "Convênios" %}</h6>
                <div class="table-responsive">
                  <table class="table table-sm">
                    <tr>
                      <th>{% trans "Tipo de convênio" %}</th>
                      <th>{% trans "Número" %}</th>
                      <th>{% trans "Status" %}</th>
                      <th>{% trans "Início da vigência" %}</th>
                      <th>{% trans "Término da vigência" %}</th>
                      <th>{% trans "Documentos" %}</th>
                    </tr>
                    {% for convenio in orgao.convenios %}
                      <tr>
                        <td>{{ convenio.projeto.nome }}</td>
                        <td>{{ convenio.num_convenio|default:"-" }}</td>
                        <td>{{ convenio.get_status }}</td>
                        <td>{{ convenio.data_retorno_assinatura|default:"-" }}</td>
                        <td>{{ convenio.data_termino_vigencia|default:"-" }}</td>
                        <td>
                          <ul class="list-group">
                            {% if convenio.id_contrato_gescon %}
                              <li class="list-group-item">
                                <a href="{{ convenio.get_url_gescon }}">{% trans "Minuta assinada" %}</a>
                              </li>
                            {% endif %}
                            {% for anexo in convenio.anexo_set.all %}
                              <li class="list-group-item">
                              <a href="{{ anexo.arquivo.url }}">{{ anexo.descricao }}</a>
                            </li>
                            {% endfor %}
                          </ul>
                        </td>
                      </tr>
                    {% endfor %}
                  </table>
                </div>
              {% endif %}
              {% if orgao.oficinas %}
                <h6 class="card-title">{% trans "Oficinas realizadas" %}</h6>
                <div class="table-responsive">
                  <table class="table table-sm">
                    <tr>
                      <th>{% trans "Período" %}</th>
                      <th>{% trans "Nome" %}</th>
                      <th>{% trans "Processo administrativo" %}</th>
                      <th>{% trans "Participantes" %}</th>
                    </tr>
                    {% for oficina in orgao.oficinas %}
                      <tr>
                        <td>
                          {% blocktranslate with inicio=oficina.data_inicio|date:"SHORT_DATE_FORMAT" termino=oficina.data_termino|date:"SHORT_DATE_FORMAT" %}
                            {{ inicio }} a {{ termino}}
                          {% endblocktranslate %}
                        </td>
                        <td>{{ oficina.nome }}</td>
                        <td>{{ oficina.num_processo|default:"-" }}</td>
                        <td>{{ oficina.total_participantes|default:"-" }}</td>
                      </tr>
                    {% endfor %}
                  </table>
                </div>
              {% endif %}
              {% if orgao.servicos %}
                <h6 class="card-title">{% trans "Serviços Interlegis" %}</h6>
                <div class="table-responsive">
                  <table class="table table-sm">
                    <tr style="vertical-align: bottom;">
                      <th rowspan="2">{% trans "Tipo de serviço" %}</th>
                      <th rowspan="2">{% trans "Data de instalação" %}</th>
                      <th rowspan="2">{% trans "URL de acesso" %}</th>
                      <th colspan="2">{% trans "Última verificação" %}</th>
                      <th rowspan="2">{% trans "Última utilização" %}</th>
                    </tr>
                    <tr>
                      <th>{% trans "Data" %}
                      <th>{% trans "Resultado" %}</th>
                    </tr>
                    {% for srv in orgao.servicos %}
                      <tr>
                        <td>{{ srv.tipo_servico.nome }}</td>
                        <td>{{ srv.data_ativacao|date:"SHORT_DATE_FORMAT" }}</td>
                        <td>
                          {% if srv.url %}
                            <a href="{% if 'http' in srv.url %}{{ srv.url }}{% else %}http://{{ srv.url }}{% endif %}" target="_blank">{{ srv.url}}</a>
                          {% else %}
                            <p>-</p>
                          {% endif %}
                        </td>
                        <td>{{ srv.data_verificacao|default:"-" }}</td>
                        <td>{{ srv.get_resultado_verificacao_display }}</td>
                        <td>{{ srv.data_ultimo_uso|default:"-" }}</td>
                      </tr>
                    {% endfor %}
                  </table>
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
        {% include "servicos/navigator_snippet.html" %}
      </div>
    </div>
  </body>
</html>