{% extends "admin/index.html" %}
{% load static from staticfiles %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/globalnav-estilos.css' %}"  />
<link rel="stylesheet" type="text/css" href="{% static 'css/base_site.css' %}"  />
<link rel="stylesheet" type="text/css" href="{% static 'css/app_index.css' %}"  />
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block sidebar %}
<div id="content-related">
  {% include "snippets/modules/user.html" %}
  {% include "snippets/modules/actions.html" %}
</div>
{% endblock %}
