{% extends "change_list_with_cart.html" %}
{% load i18n %}

{% block search %}
<div id="toolbar">
  <form id="changelist-search" action="" method="get">
    <div><!-- DIV needed for valid HTML -->
      <label for="searchbar"><img src="/static/admin/img/search.svg" alt="Search" /></label>
      <input type="text" size="40" name="q" value="" id="searchbar" />
      <label for="data_retorno_assinatura__gte">{% trans 'Conveniadas a partir de' %}:</label>
      <input type="text" size="10" name="data_retorno_assinatura__gte" value="" id="data_retorno_assinatura__gte" class="vDateField"/>
      <label for="data_retorno_assinatura__lte">{% trans 'até' %}:</label>
      <input type="text" size="10" name="data_retorno_assinatura__lte" value="" id="data_retorno_assinatura__lte" />
      <input type="submit" value="Pesquisar" />
      {% trans 'Datas podem ser: Um ano (aaaa), um mês (aaaa-mm) ou um dia (aaaa-mm-dd)' %}
    </div>
  </form>
</div>
{% endblock %}
