{% extends 'pdf/base_report.html' %}
{% load static i18n %}

{% block page_size %}A4 portrait{% endblock %}

{% block main_content %}
  <table repeat="1">
    <thead>
      <tr>
        <th style="width: 10%;">{% trans 'UF'       %}</th>
        <th style="width: 20%;">{% trans 'Municipio' %}</th>
        <th style="width:    12%;">{% trans 'Número do Convênio'       %}</th>
        <th style="width:   8%;">{% trans 'Projeto'   %}</th>
        <th style="width:   15%;">{% trans 'Data do Convênio'     %}</th>
        <th style="width:    15%;">{% trans 'Data de Publicação'        %}</th>
        <th style="width: 25%;">{% trans 'Orgão'   %}</th>
      </tr>
    </thead>

     {% for convenio in convenios %}
      {% ifchanged convenio.municipio.uf %}
        <tr class="title_row"><td colspan="8"><h1>{{ convenio.casa.municipio.uf }}</h1></td></tr>

      {% endifchanged %}
      <tr>
        <td>{{ convenio.casa_legislativa.municipio.uf.sigla }}</td>
        <td>{{ convenio.casa_legislativa.municipio.nome   }}</td>
        <td>{{ convenio.num_convenio     }}</td>
        <td>{{ convenio.projeto     }}</td>
        <td>{{ convenio.data_retorno_assinatura}}</td>
        <td>{{ convenio.data_pub_diario    }}</td>
        <td>{{ convenio.casa_legislativa.nome       }}</td>
      </tr>
  
    {% endfor %}
  </table>
  <h3>Número de Convênios:
  {{ convenios|length }} 
  </h3>

{% endblock main_content %}