{% extends "admin/base_site.html" %}
{% load static i18n %}

{% block extrastyle %}
{{ block.super }}
	<style type="text/css">
		table {
			width: auto;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="/static/css/calendario.css">
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block content_title %}
  <h5>
    {% blocktranslate count counter=convenios.count %}
      Um convênio com erro na importação do Gescon
    {% plural %}
      {{ counter }} convênios com erro na importação do Gescon
    {% endblocktranslate %}
  </h5>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
	{% include "convenios/snippets/erros_gescon_snippet.html" with mode="html" %}
{% endblock %}

{% block footer %}
  {{ block.super }}
	<script>
		$(document).ready(function(){
			M.FloatingActionButton.init($('.fixed-action-btn'), {hoverEnabled: false});
			M.Modal.init($(".modal"));
		})
	</script>
{% endblock %}