{% extends 'admin/base_site.html' %}
{% load i18n %}

{% block content_title %}<h1>{% trans 'Importar dados do Gescon' %}</h1>{% endblock %}
{% block object-tools-items %}
<li class="nav-item"><a class="nav-link active" href="{% url 'importar-gescon' %}?action=importar">Importar</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'admin:convenios_gescon_change' gescon.id %}">Configurações</a></li>
{% endblock %}
{% block content %}
  {% if gescon.ultima_importacao %}
    <pre><code>{{ gescon.ultima_importacao }}</code></pre>
  {% else %}
    {% blocktrans %}
    <p class="alert alert-danger"><strong>Nenhuma importação anterior foi realizada!</strong></p>
    <p class="">Configure a conexão com o Gescon para realizar a primeira importação.</p>
    {% endblocktrans %}
  {% endif %}
{% endblock %}