{% extends 'admin/base_site.html' %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <h6>{% trans 'Importar dados do Gescon' %}</h6>
</div>
{% endblock %}

{% block object-tools-items %}{% endblock %}

{% block content %}
<div class="module filtered" id="changelist">
  <p class="paginator"></p>
  <ul class="pagination">
    <li class="active">
      <a href="{% url 'importar-gescon' %}?action=importar">
        <i class="material-icons left">cloud_download</i>
        {% trans "Importar" %}
      </a>
    </li>
    <li  class="active">
      <a href="{% url 'admin:convenios_gescon_change' gescon.id %}">
        <i class="material-icons left">perm_data_setting</i>
        {% trans "Configurações" %}
      </a>
    </li>
  </ul>
  {% if gescon.ultima_importacao %}
  <blockquote>
    <pre><code>{{ gescon.ultima_importacao }}</code></pre>
  </blockquote>
  {% else %}
    {% blocktrans %}
    <blockquote>
      <p><strong>Nenhuma importação anterior foi realizada!</strong></p>
      <p>Configure a conexão com o Gescon para realizar a primeira importação.</p>
    </blockquote>
    {% endblocktrans %}
  {% endif %}
</div>
{% endblock %}