{% extends "admin/change_list.html" %}
{% load admin_list i18n admin_urls %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
function dismissRelatedLookupPopup(win, chosenId) {
    win.close();
	url = "{% url 'admin:servicos_casaatendida_changelist' %}" +  chosenId;
//	alert(url);
	document.location.href = url;
}
</script>
{% endblock %}

{% block object-tools-items %}
    <li><a id="lookup_id_casa_legislativa" onclick="return showRelatedObjectLookupPopup(this);"
           href="{% url 'admin:casas_orgao_changelist' %}?codigo_interlegis__exact=" class="addlink">
        <span class="glyphicon glyphicon-plus"></span>
        {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
    </a></li>
  {{ block.super }}
{% endblock %}
