{% extends "base_change_form.html" %}
{% load i18n admin_modify %}
{% load static from staticfiles %}

{% block after_related_objects %}
{{ block.super }}
<div id="servico_list-group" class="inline-group">
	<div class="tabular inline-related last-related">
		<fieldset class="module">
			<h2>Servicos</h2>

			<table>
			<thead>
     			<tr>
        			<th colspan="2">{% trans 'Tipo de serviço' %}</th>
					<th>{% trans 'Hospedagem no Interlegis?' %}</th>
					<th>{% trans 'Data de ativação' %}</th>
					<th>{% trans 'Data da última alteração' %}</th>
					<th>{% trans 'Data de desativação' %}</th>
				</tr>
			</thead>
			<tbody>
			{% for srv in original.servico_set.all %}
     			<tr>
        			<td><p><a href="{% url 'admin:servicos_servico_change' srv.id %}">{{ srv.tipo_servico.sigla }}</a></p></td>
        			<td>{{ srv.tipo_servico }}</td>
					<td><img alt="{{ srv.hospedagem_interlegis }}"
					         src="{% static srv.hospedagem_interlegis|yesno:'admin/img/icon-yes.svg,admin/img/icon-no.svg' %}"></td>
					<td>{{ srv.data_ativacao|date:'SHORT_DATE_FORMAT' }}</td>
					<td>{{ srv.data_alteracao|date:'SHORT_DATE_FORMAT' }}</td>
					<td>{{ srv.data_desativacao|date:'SHORT_DATE_FORMAT' }}</td>
				</tr>
			{% empty %}
				<tr> <td colspan="6">{% trans 'Nenhum serviço cadastrado para esta Casa Legislativa' %}</td> </tr>
			{% endfor %}
				<tr class="add-row">
					<td colspan="6"><a href="{% url 'admin:servicos_servico_add' %}?id_casa={{ original.id|safe }}">{% trans 'Adicionar outro Servico' %}</a></td>
				</tr>
			</tbody>
			</table>
		</fieldset>
	</div>
</div>
{% endblock %}
