{% extends "pdf/base_report.html" %}
{% load static %}
{% load i18n %}

{% block page_size %}A4 landscape{% endblock %}
{% block extra_style %}
	{{ block.super }}
	a {
		color: black;
		text-decoration: none;
	}
{% endblock %}

{% block main_content %}
	<h4>
		{% if mes_pesquisa %}
			{% blocktrans with mes=mes_pesquisa|safe ano=ano_pesquisa|safe %}Alocação de equipe em {{ mes }}/{{ ano }}{% endblocktrans %}</h4>
		{% else %}
			{% blocktrans with ano=ano_pesquisa|safe %}Alocação de equipe em {{ ano }}{% endblocktrans %}</h4>
		{% endif %}
	{% include "eventos/snippets/alocacao_equipe_snippet.html" %}
{% endblock %}
