{% extends 'pdf/base_report.html' %}
{% load static i18n %}

{% block extra_style %}
  {{ block.super }}
  a {
    color: black;
    text-decoration: none;
  }
  table {
    table-layout: fixed;
}
  table td,
  table td * {
    vertical-align: top;
  }
  span.numero-dia {
    font-size: 0.5em;
  }
  .card {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
  }
  .card .card-content .card-title {
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
    font-weight: 300;
  }
  .card-title {
    font-size: 20px !important;
    margin-bottom: -6px !important;
  }
  .data-evento {
    font-size: 0.7em;
    display: block;
  }
  .tipo-evento {
    font-size: 0.7em;
    color: var(--body-quiet-color);
    display: block;
    margin-bottom: 8px;
  }
  .cyan.lighten-4 { background-color: #b2ebf2 !important; }
  .brown.lighten-4 { background-color: #d7ccc8 !important; }
  .deep-orange.lighten-4 { background-color: #ffccbc !important; }
  .cyan.lighten-4 { background-color: #b2ebf2 !important; }
  .green.lighten-4 { background-color: #c8e6c9 !important; }
  .lime.lighten-4 { background-color: #f0f4c3 !important; }
{% endblock %}

{% block main_content %}
	<h1>
    {% blocktrans with month=mes_pesquisa|stringformat:"02d" year=ano_pesquisa|stringformat:"04d" %}Ref: {{ month }}/{{year}}{% endblocktrans %}
  </h1>
  {% include "eventos/snippets/calendario_cal.html" %}
  {% include "eventos/snippets/calendario_lista.html" %}
{% endblock main_content %}