{% extends 'pdf/base_report.html' %}
{% load i18n %}

{% block page-footer-settings %}
  {{ block.super }}
  @bottom-right { content: ""; }
{% endblock %}

{% block page_size %}{{ pagesize }}{% endblock page_size %}
{% block page_margin %}4cm {{ pagemargin }}cm 4cm {{ pagemargin }}cm{% endblock page_margin %}

{% block main_content %}
  {% for convite in evento.convite_set.all %}
    {% with convite.casa as casa %}
      {% for nome in convite.nomes_participantes.splitlines %}
        {% block text_body %}{% endblock %}
        {% if not forloop.last %}
          <div class="new-page"/>
        {% endif %}
      {% endfor %}
    {% endwith %}
  {% endfor %}
{% endblock %}