{% extends 'pdf/base_report.html' %}
{% load i18n %}

{% block page-footer-settings %}
  {{ block.super }}
  @bottom-right { content: ""; }
{% endblock %}

{% block extra_style %}
  {{ block.super }}
  .text-box {
    padding: 24px 0;
  }
{% endblock extra_style %}

{% block page_size %}{{ pagesize }}{% endblock page_size %}
{% block page_margin %}3cm {{ pagemargin }}cm 2cm {{ pagemargin }}cm{% endblock page_margin %}

{% block main_content %}
  {% for convite in evento.convite_set.all %}
    {% with convite.casa as casa %}
      {% for nome in convite.nomes_participantes.splitlines %}
        <div class="text-box">
          {% block text_body %}{% endblock %}
        </div>
        {% if not forloop.last %}
          <div class="new-page"/>
        {% endif %}
      {% endfor %}
    {% endwith %}
    {% if not forloop.last %}
      <div class="new-page"/>
    {% endif %}
  {% endfor %}
{% endblock %}