{% extends 'pdf/base_report.html' %}
{% load i18n static %}

{% block page_margin %}4cm 2cm{% endblock page_margin %}

{% block page-header-settings %}
@top-center { content: element(header);}
{% endblock %}

{% block page-footer-settings %}
@bottom-center { content: element(footer); }
{% endblock %}


{% block extra_style %}
  h1 {font-size: 1.2em;}
  h2 {font-size: 1.1em;}
  h3,h4,h5,h6 {font-size: 1em;}

  header {
    font-size: 1em;
    text-align: center;
  }

  header p {
    margin: 0 0 5px 0;
  }

  .strong {
    font-weight: bold;
  }

  .header-title {
    font-weight: bold;
    font-size: 1.2em;
  }

  .header-subtitle {
    font-weight: bold;
    font-size: 1em;
  }

  .content {
    font-size: 1.2em;
    line-height: 1.4em;
    padding-bottom: 5px;
  }

  footer {
    width: 100%;
    text-align: center;
  }

  .barra {
    height: 15px;
  }
{% endblock %}

{% block header %}
  <img src="{% static 'img/logo-senado.png' %}">
  <p class="header-title">SENADO FEDERAL</p>
  <p class="header-subtitle">Instituto Legislativo Brasileiro - ILB</p>
  <p class="header-subtitle">Programa Interlegis</p>
{% endblock %}

{% block main_content %}
  <div class="content">
    {% block text_body %}{% endblock %}
  </div>
{% endblock %}

{% block footer %}
<img class="barra" src="{% static 'img/brasil-barra.jpg' %}"/>
<p>Instituto Legislativo Brasileiro - ILB - Av. N2 - Bloco 12 - CEP 70165-900 – Brasília DF</p>
<p>Telefone: +55 (61) 3303-2599  –  interlegis@senado.leg.br  –  www.interlegis.leg.br</p>
<p class="strong">MINUTA-PADRÃO aprovada pela Diretoria-Geral do Senado Federal em 01/setembro/2021, conforme processo 00200.006818/2021-12.</p>
{% endblock %}