{% extends "admin/base_site.html" %}
{% load i18n static admin_urls %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'material/admin/css/submit_line.min.css' %}">
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block messages %}
  {% if error %}
  <ul class="messagelist">
    <li class="error">{{ error|capfirst }}</li>
  </ul>
  {% endif %}
{% endblock messages %}

{% block content %}
<div class="container">
  <div class="card">
    <div class="card-content">
      <span class="card-title">{% trans 'Emitir declaração de comparecimento' %}</span>
      <form id="select-form" name="select-form" action="" method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
        {{ form }}
        </div>
      </form>
    </div>
    <div class="card-action">
      <div class="submit-row">
        <div class="open-actions">
          <button class="default waves-effect waves-light btn" type="submit" form="select-form" name="submit" value="print">
            <i class="material-icons">picture_as_pdf</i>
            {% trans "Imprimir" %}
          </button>
          {% url opts|admin_urlname:'change' evento_id|admin_urlquote as change_url %}
          <a class="default waves-effect waves-light btn" role="button" href="{% add_preserved_filters change_url %}">
            <i class="material-icons">undo</i>
            {% trans "Voltar" %}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

