{% load charts %}

{% chart as convenios_assinados %}
  {% chart-size   440 160 %}
  {% chart-type   "pie-3d" %}
  {% chart-labels g_convassinado_proj.convenios %}
  {% chart-data g_convassinado_proj.convenios %}
  {% chart-legend g_convassinado_proj.projetos %}
  {% chart-colors "A2CD5A,FFB90F,6CA6CD" %}
  {% chart-title g_convassinado_proj.total_convenios %}  
{% endchart %}

{% chart as processos %}
  {% chart-size   440 160 %}
  {% chart-type   "pie-3d" %}
  {% chart-labels g_conv_proj.convenios %}
  {% chart-data g_conv_proj.convenios %}
  {% chart-legend g_conv_proj.projetos %}
  {% chart-colors "A2CD5A,FFB90F,6CA6CD" %}
  {% chart-title g_conv_proj.total_convenios %}  
{% endchart %}

<div class="module">
    <h2>Resumo de informações</h2>
    <h3>Câmaras municipais por projeto</h3>
    <div class="align-center">
        <table>
            <tr>
                {% for item in tabela_resumo_camara.cabecalho_topo %}
                <th>{{item}}</th>
                {% endfor %}
            </tr>

            {% for cabecalho,lista in tabela_resumo_camara.lista_zip %}
            <tr>
                <th>{{cabecalho}}</th>
                {% for item in lista %}
                <td>{{item}}</td>
                {% endfor %}
            </tr>
            {% endfor %}            
        </table>
    </div>
</div>

<div class="module">
    <h2>Convênios</h2>
    <h3>Convênios assinados por projeto</h3>
    <div class="align-center">
        <img src="{{ convenios_assinados.url }}" class="chart" />
    </div>
</div>

<div class="module">
    <h2>Convênios</h2>
    <h3>Processos de convênios por projeto</h3>
    <div class="align-center">
        <img src="{{ processos.url }}" class="chart" />
    </div>
</div>