{% load charts %}

{% chart as convenios %}
  {% chart-size 440 160 %}
  {% chart-type "pie-3d" %}
  {% chart-labels convenios_chart_data %}
  {% chart-legend "Convênios firmados" "Convênios pendentes" "Casas sem convênio" %}
  {% chart-data   convenios_chart_data %}
  {% chart-colors "A2CD5A,FFB90F,6CA6CD" %}
{% endchart %}

{% chart as regioes %}
  {% chart-size 440 160 %}
  {% chart-type "column-stacked" %}
  {% chart-bar-width "40" %}
  {% chart-labels "Centro-O" "Norte" "Nordeste" "Sudeste" "Sul" %}
  {% chart-data   regioes_chart_data.0 regioes_chart_data.1 %}
  {% chart-legend "Conveniadas" "Total" %}    
  {% axis "left" %}
     {% axis-range 0 num_regiao_maior_chart_data%}
  {% endaxis %}
  {% chart-colors "A2CD5A,FFB90F,6CA6CD" %}
{% endchart %}

{% chart as equipamentos %}
  {% chart-size   440 160 %}
  {% chart-type   "pie-3d" %}
  {% chart-labels equipamentos_chart_data %}
  {% chart-data   equipamentos_chart_data %}
  {% chart-legend "Recebidos" "Não recebidos" %}
  {% chart-colors "A2CD5A,FFB90F,6CA6CD" %}
{% endchart %}

{% chart as projetos %}
  {% chart-size   440 160 %}
  {% chart-type   "pie-3d" %}
  {% chart-labels convenios_por_projeto_chart_data %}
  {% chart-data   convenios_por_projeto_chart_data %}
  {% chart-legend projetos_chart_data %}
  {% chart-colors "A2CD5A,FFB90F,6CA6CD" %}
{% endchart %}


<div class="module">
  <h2>Convênios</h2>
  <h3>Convênios com as Casas Legislativas</h3>
  <p class="align-center">
    <img src="{{ convenios.url }}" class="chart" />
  </p>
</div>

<div class="module">
  <h2>Convênios</h2>
  <h3>Casas Legislativas conveniadas por região</h3>
  <p class="align-center">
    <img src="{{ regioes.url }}" class="chart" />
  </p>
</div>

<div class="module">
  <h2>Convênios</h2>
  <h3>Casas Legislativas com equipamentos</h3>
  <p class="align-center">
    <img src="{{ equipamentos.url }}" class="chart" />
  </p>
</div>

<div class="module">
  <h2>Convênios</h2>
  <h3>Convênios por projeto</h3>
  <p class="align-center">
    <img src="{{ projetos.url }}" class="chart" />
  </p>
</div>

