{% extends "base_mobile.html" %}

{% block cabecalho %}
    <h1>Diagnósticos</h1>
    <a href="{% url logout %}" data-icon="delete" class="ui-btn-left">Sair</a>
{% endblock cabecalho %}

{% block corpo %}
    {% if diagnosticos %}
        <ul data-role="listview">
            {% for diagnostico in diagnosticos %}
                <li>
                    <a href="{% url lista_categorias diagnostico.id %}">
                        <h4>{{ diagnostico.casa_legislativa.nome }}</h4>
                        <p><strong>Data:</strong> {{ diagnostico.data_questionario|date:"d/m/Y" }}</p>
                        <p><strong>Responsável:</strong> {{ diagnostico.responsavel.nome_completo }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>Nenhum diagnóstico aberto.</h2>
    {% endif %}
{% endblock corpo %}

{% block rodape %}{% endblock rodape %}
