{% extends "base_mobile.html" %}

{% block media %}
    {{ block.super }}
    <link rel="stylesheet" href="{{MEDIA_URL}}css/diagnosticos/diagnosticos_categoria_model_form.css" />
    <script src="{{MEDIA_URL}}js/diagnosticos/diagnosticos_categorias_form.js"></script>
{% endblock %}

{% block cabecalho %}
    <h1>Identificação de Competências</h1>
    <a href="{% url lista_categorias diagnostico.id %}" data-icon="arrow-l" 
    data-direction="reverse" data-theme="c" class="ui-btn-left">Voltar</a>
{% endblock cabecalho %}

{% block corpo %}
      <div id="waiting">
        <!-- Exibe as perguntas apos o carregamento completo do javascript -->
        <h2>Aguarde carregando perguntas para essa categoria...</h2>
      </div>
      <div id="form" style="display:none;">
        <form id="diagnostico" action="." method="post">
          {% for form in forms %}
            <h3>{{ form.instance.get_setor_display }}</h3>
             {% for field in form %}
                <div data-role="fieldcontain">
                    <label class="attr" for="{{ field.name }}">{{ field.label }}</label>
                    {{ field }}
                </div>
             {% endfor %}
             <h4>Telefones</h4>
             {% for form in form.telefones.forms %}
               <div class="phone" data-role="fieldcontain">
                  {{ form.tipo }} {{ form.numero}}
                  {% for field in form.hidden_fields %}
                    {{ field }}
                  {% endfor %}
               </div>
             {% endfor %}
             {{ form.telefones.management_form }}
             <hr/>
          {% endfor %}
        </form>
      </div>
{% endblock corpo %}

{% block rodape %}
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="{% url lista_categorias diagnostico.id %}" data-icon="grid" class="ui-state-persist ui-btn-active">Listar</a></li>
                <li><a href="{% url lista_diagnosticos %}" data-icon="home">Home</a></li>
            </ul>
        </div>
    </div> <!-- footer -->
{% endblock rodape %}
