{% extends "base_mobile.html" %}

{% block media %}
    {{ block.super }}
    <link rel="stylesheet" href="{{MEDIA_URL}}css/diagnosticos/diagnosticos_categorias_form.css" />
{% endblock %}

{% block cabecalho %}
    <h1>{{ categoria.nome }}</h1>
    <a href="{% url lista_categorias diagnostico.id %}" data-icon="arrow-l" 
    data-direction="reverse" data-theme="c" class="ui-btn-left">Voltar</a>
{% endblock cabecalho %}

{% block corpo %}
    {% if form %}
      <div id="waiting">
        <!-- Exibe as perguntas apos o carregamento completo do javascript -->
        <h2>Aguarde carregando perguntas para essa categoria...</h2>
      </div>
      <div id="form" style="display:none;">
        <form id="diagnostico" action="." method="post">
             {% for field in form %}
                 <div data-role="fieldcontain" id="{{ field.name }}">
                    <label for="{{ field.name }}">{{ field.label }}</label>
                    {{ field }}
                    <span class="errors"></span>
                </div>
             {% endfor %}
        </form>
      </div>
    {% else %}
      <h2>Nenhuma existem perguntas para essa categoria.</h2>
    {% endif %}
{% endblock corpo %}

{% block rodape %}
    <ul>
        <li><a href="{% url lista_categorias categoria.id %}" data-icon="grid" class="ui-state-persist ui-btn-active">Listar</a></li>
        <li><a href="{% url lista_diagnosticos %}" data-icon="home">Home</a></li>
    </ul>
{% endblock rodape %}


