{% load static from staticfiles %}

<div class="row">

  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Resumo de informações</div>
      <table class="table table-condensed">
          <tr>
              {% for item in tabela_resumo_camara.cabecalho_topo %}
                  <th>{{item}}</th>
              {% endfor %}
          </tr>

          {% for cabecalho,lista in tabela_resumo_camara.lista_zip %}
              <tr>
                  <th>{{cabecalho}}</th>
                  {% for item in lista %}
                      <td>{{item}}</td>
                  {% endfor %}
              </tr>
          {% endfor %}
      </table>
      <div class="panel-footer">
        <dl class="dl-horizontal">
          <dt>Câmaras sem processo</dt>
          <dd>{{tabela_resumo_camara.camaras_sem_processo}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Total de câmaras</dt>
          <dd>{{tabela_resumo_camara.total_camaras}}</dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Convênios</div>
      <div class="panel-body">
        <h3>Convênios assinados por projeto</h3>
        <div id="canvas-holder-1">
            <canvas id="chart-area-1" width="150" height="150" />
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Serviços</div>

      <div class="panel-body">
        <div class="titlemapbox">
            <div class="mapbox"><a href="/dashboard/mapa/"><img src="{% static 'img/mapicon.png' %}" /><br/>Ver mapa</a></div>
            <h3>Serviços hospedados no Interlegis (SEIT)</h3>
        </div>
      </div>


      <table class="table table-condensed">
        {% for servico in tabela_resumo_seit %}
            <tr>
                {% if forloop.first %}
                    <th style="width: 40%; vertical-align:bottom;">{{ servico.nome }}</th>
                    <th style="width: 20%; vertical-align:bottom; text-align: right;">{{ servico.total }}</th>
                    <th style="width: 20%; vertical-align:bottom; text-align: right;">{{ servico.novos_mes_anterior }}</th>
                    <th style="width: 20%; vertical-align:bottom; text-align: right;">{{ servico.novos_mes_atual }}</th>
                {% else %}
                    <th style="width: 40%;">{{ servico.nome }}</th>
                    <td style="text-align: right;">{{ servico.total }}</td>
                    <td style="text-align: right;">{{ servico.novos_mes_anterior }}</td>
                    <td style="text-align: right;">{{ servico.novos_mes_atual }}</td>
                {% endif %}
            </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Resumo de informações</div>
      <div class="panel-body">
        <h3>Resumo de informações por região</h3>
        <p style="text-align: justify">
            Resumo de informações de Câmaras Municipais por região levando em conta
            apenas o Projeto Interlegis. Demais projetos como PPM e PML não estão inclusos.
        </p>
        <ul class="conteudo_regiao">
            <li><a href="reportsRegiao/CO">Centro Oeste</a></li>
            <li><a href="reportsRegiao/NE">Nordeste</a></li>
            <li><a href="reportsRegiao/NO">Norte</a></li>
            <li><a href="reportsRegiao/SD">Sudeste</a></li>
            <li><a href="reportsRegiao/SL">Sul</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Convênios</div>
      <div class="panel-body">
        <h3>Processos de convênios por projeto</h3>
        <div id="canvas-holder-2" style="margin-top: 55px">
            <canvas id="chart-area-2" width="150" height="150" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Atendimentos</div>
      <div class="panel-body">
        <h3>Mapa de atuação do Interlegis</h3>
        <div class="align-center">
            <a href="/dashboard/mapa/"> <img src="{% static 'img/mapicon-large.png' %}"  style="width: 60%;"/> </a>
        </div>
      </div>
    </div>
  </div>
</div>


