{% load static from staticfiles %}
{% load i18n %}

<div class="panel panel-primary flex-col">
  <div class="panel-heading">{% trans 'Serviços hospedados no Interlegis (SEIT)' %}</div>
  <div class="panel-body">
    <table class="table table-condensed numeros servicos">
      <tr>
      {% for s in tabela_resumo_seit.titulos %}
        <th>{{ s }}</th>
      {% endfor %}
      </tr>
      {% for servico in tabela_resumo_seit.servicos %}
      <tr>
        <th class="dropdown">
          <a id="ddm-{{ servico.nome }}" data-toggle="dropdown" href="#">{{ servico.nome }}</a>
          <table class="table table-condensed numeros servicos dropdown-menu" role="menu" aria-labelledby="ddm-{{ servico.nome }}">
          {% for mes in servico.novos_por_mes %}
            <tr><th>{{ mes.mes }}</th><td>{{ mes.total }}</td></tr>
          {% endfor %}
          </table>
        </th>
        <td>{{ servico.total }}</td>
        <td>{{ servico.novos_mes_anterior }}</td>
        <td>{{ servico.novos_mes_atual }}</td>
      </tr>
    {% endfor %}
    </table>
    <div>
      <a href="{% url "home_resumoseit" %}?ano={{ tabela_resumo_seit.mes_anterior.year|safe }}&mes={{ tabela_resumo_seit.mes_anterior.month|safe }}" aria-label="{% trans "Retroceder um mês" %}" data-target="resumoseit"> 
        <span class="glyphicon glyphicon-chevron-left pull-left" aria-hidden="true"></span>
      </a>
      <a href="{% url "home_resumoseit" %}?ano={{ tabela_resumo_seit.proximo_mes.year|safe }}&mes={{ tabela_resumo_seit.proximo_mes.month|safe }}" aria-label="{% trans "Avançar um mês" %}" data-target="resumoseit">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>
