a:link,a:visited {
	color: #0f3361;
}

a:hover {
	color: #11488d;
}

/* HEADER */
#header {
	background: #003351 url(../img/default-bg2.jpg);
}

#site-name a:hover {
	text-decoration: none;
}

div.breadcrumbs {
	display: none;
}

/* CONTENT */
.row1 {
	background: #f5f6fc none repeat scroll 0 0;
}

.align-center {
	text-align: center;
}

img.chart {
	margin: 20px 0;
	width: 100%;
	max-width: 250px;
}

.dashboard #content {
	width: auto;
}

.dashboard #content-main .module {
	float: left;
	margin-right: 1.5%;
	width: 31%;
}

div.partners > ul > li {
    display: inline;
}

div.utils li {
  display: inline;
}

/* FOOTER */
div#footer {
    background-color: #25528C;
    display: table;
    margin: 4em 0 0;
    padding: 0.5em 0;
    vertical-align: middle;
    width: 100%;
}

div#footer div.footernote {
    width: 45%;
    padding: 0.4em 1em;
    text-align: left;
    float: left;
}

div#footer div.footerlogos {
    width: 50%;
    padding: 0.4em 1em;
    text-align: center;
    margin-left: 50%;
    border-left: 1px solid white;
}

div#footer div.footerlogos li {
    display: inline;
    margin-right: 2em;
}

div#footer p {
    font-size: 0.7em;
    font-weight: normal;
    color: white;
}

div#footer a {
    color: white;
}

/* JQuery */
.tabs-conteudo li {
	border: 1px solid #CCC;
	background-image: url("../../static/admin/img/nav-bg.gif");
	display: inline;
	padding: 4px 8px;
}

.tabs-conteudo a {
	color: #000;
}

.conteudo_regiao li{
	border: 1px solid #CCC;
	background-image: url("../../static/admin/img/nav-bg.gif");
	padding: 4px 8px;
	width: 30%;
	list-style: none;
}

#sortable { list-style-type: none;}
#sortable li { display: block;margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em;}
#sortable li span { position: absolute; margin-left: -1.3em; }

.legend {
	margin: 1em;
}

.legend span { margin: 0 1em 0 0; }

.legend div {
    display: inline-block;
    margin: 0 0.5em 0 0;
	height: 18px;
    width: 18px;
}

.titlemapbox {
    display: inline-block;
    margin-bottom: 0.6em;
    width: 100%;
}

.mapbox {
	text-align: center;
	display: inline-block;
	float: right;
}

#branding h1 {
	float: left;
}

#user-tools {
	position: inherit;
}

.actions {
    padding: 0 0 10px 16px;
}


/* ROW FLEX (baseado em http://www.bootply.com/126437)
   Para fazer celulas com a mesma altura em uma linha da grid */
@media screen and (min-width: 970px) {

    .row-flex, .row-flex > div[class*='col-'] {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex:1 1 auto;
    }

    .row-flex-wrap {
        -webkit-flex-flow: row wrap;
        align-content: flex-start;
        flex:0;
    }

    .row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
         margin:-.2px; /* hack adjust for wrapping */
    }

    .container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
        width:100%;
    }

    .flex-col {
        display: flex;
        display: -webkit-flex;
        flex: 1 100%;
        flex-flow: column nowrap;
    }

    .flex-grow {
        display: flex;
        -webkit-flex: 2;
        flex: 2;
    }
}

/* GENERAL ADJUSTMENTS */

.glyphicon {
    margin-right: 3px;
}

#navbar-title-tools {
    margin-bottom: 6px;
}
