{% extends 'utils/report/report.html' %}
{% load i18n %}

{% block extrastyle %}
{{ block.super }}
	<style type="text/css">
    .sessao-resumo {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
    }
    .card-resumo {
      flex-grow: 1;
    }
  </style>
{% endblock %}

{% block data %}
  {% if not servidores is None %}
  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        {% include "admin/eventos/custos_servidor_report_snippet.html" %}
      </div>
    </div>
  </div>
  {% endif %}
{% endblock data %}
