{% load static from staticfiles %}
{% load i18n %}
<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% trans 'SIGI - Login de Acesso' %}</title>
    <link rel="stylesheet" href="{% static 'jquery.mobile-1.0.1/jquery.mobile-1.0.1.min.css' %}"  />
    <script src="{% static '/js/jquery/jquery-1.6.4.min.js' %}" ></script>
    <script language=javascript>
      $(document).bind("mobileinit", function () {
        $.mobile.ajaxEnabled = false;
        $.mobile.loadingMessage = 'salvando';
      });
    </script>
    <script type="text/javascript" src="{% static 'jquery.mobile-1.0.1/jquery.mobile-1.0.1.min.js' %}" ></script>
</head>
<body>
    <div data-role="header" data-theme="d">
        <img src="{% static 'img/mobile/logointerlegis_mobile.png' %}"  alt="Interlegis"/>
    </div> <!-- header -->
    {% if form.errors %}
     <div data-role="header" data-theme="b">
        <h2>Erro ao logar</h2>
        <ul>
            {% for field in form %}
                {% if field.errors %}
                    <li>{{ field.errors|striptags }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <p>{% trans 'Verifique se seu login e senha foram preenchidos corretamente.' %}</p>
    </div> <!-- error messages -->
    {% endif %}

    <div data-role="content">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div data-role="fieldcontain" class="ui-hide-label ui-body">
                <label for="username">{% trans 'Usuário' %}:</label>
                <input type="text" name="username" id="id_username" placeholder="Usuário">
            </div>
            <div data-role="fieldcontain" class="ui-hide-label">
                <label for="password">{% trans 'Senha de Acesso' %}:</label>
                <input type="password" name="password" id="id_password" placeholder="Senha de Acesso">
            </div>
            <input type="hidden" name="next" value="{% url 'lista_diagnosticos' %}" />
            <button type="submit">{% trans 'Entrar' %}</button>
        </form>
    </div>
</body>
</html>
