{% extends "base_mobile.html" %}

{% block cabecalho %}
    <h1>Categorias</h1>
    <a href="{% url 'lista_diagnosticos' %}" data-icon="arrow-l" data-direction="reverse" data-theme="c" class="ui-btn-left">Voltar</a>
{% endblock cabecalho %}

{% block media %}
    {{ block.super }}
    <link href="{{ MEDIA_URL }}css/diagnosticos/diagnosticos_categorias.css" rel="stylesheet" />
{% endblock media %}

{% block corpo %}
    {% if categorias %}
        <ul data-role="listview">
            {% if ultima_categoria == 1 %}
                <li class="ui-btn-last-c">
            {% else %}
                <li>
            {% endif %}
                <a href="{% url 'detalhes_categoria_casa_legislativa' diagnostico.id %}">
                    <h4 class="ui-li-heading-read">01. Identificação da Casa Legislativa</h4>
                </a>
            </li>
            {% if ultima_categoria == 2 %}
                <li class="ui-btn-last-c">
            {% else %}
                <li>
            {% endif %}
                <a href="{% url 'detalhes_categoria_contatos' diagnostico.id %}">
                    {% if diagnostico.contatos_respondidos %}
                        <h4 class="ui-li-heading-read">02. Identificação de Competências</h4>
                    {% else %}
                        <h4>02. Identificação de Competências</h4>
                    {% endif %}
                </a>
            </li>
            {% for categoria in categorias %}
                {% if ultima_categoria == categoria.id %}
                    <li class="ui-btn-last-c">
                {% else %}
                    <li>
                {% endif %}
                <a href="{% url 'detalhes_categoria' diagnostico.id categoria.id %}">
                    {% if categoria in diagnostico.categorias_respondidas %}
                        <h4 class="ui-li-heading-read">{{ categoria.nome }}</h4>
                    {% else %}
                        <h4>{{ categoria.nome }}</h4>
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>Nenhuma categoria existente.</h2>
    {% endif %}
{% endblock corpo %}
<ul>
    {% block rodape %}
        {{ block.super }}
        <li><a href="{% url 'logout' %}" data-icon="delete">Sair</a></li>
    {% endblock rodape %}
</ul>
