{% extends "admin/change_list.html" %}
{% load admin_list admin_urls i18n %}

{% block messages %}
  {{ block.super }}
  {% if viewing_cart %}
    <ul>
      <li class="amber lighten-4 flow-text valign-wrapper">
        <i class="material-icons medium">shopping_cart</i>
        {% if cart_item_count > 0 %}
          {% blocktrans with s=opts.verbose_name_plural|lower c=cart_item_count %}
            {{ c }} {{ s }} no carrinho
          {% endblocktrans %}
        {% else %}
          Carrinho vazio
        {% endif %}
      </li>
    </ul>
  {% endif %}
{% endblock %}


{% block object-tools-items %}
  {% if viewing_cart %}
    {% include "admin/import_export/change_list_export_item.html" %}
    {% include "admin/cart/change_list_cart_item.html" %}
  {% else %}
    {{ block.super }}
    <li>
      <a class="btn-floating tooltipped waves-effect waves-light" href="?cart=1" data-position="left" data-tooltip="{% trans "Ver itens no carrinho" %}">
        <i class="material-icons">shopping_cart</i>
      </a>
    </li>
  {% endif %}
{% endblock %}
