{% load i18n static sigi_tags %}

{% for semana in semanas %}
  <div class="card-panel">
    <blockquote>
      {% blocktranslate with start=semana.datas|first|date:"SHORT_DATE_FORMAT" end=semana.datas|last|date:"SHORT_DATE_FORMAT" %}
        Semana de {{ start }} a {{ end }}
      {% endblocktranslate %}
    </blockquote>
    <table class="calendar-table">
      <thead>
        <tr>
          <th rowspan="2">{% trans "Espaço" %}</th>
          {% for name in day_names %}
            <th>{{ name }}</th>
          {% endfor %}
        </tr>
        <tr>
          {% for dia in semana.datas %}
            <th>{{ dia|date:"d/m"}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for espaco, reservas in semana.reservas.items %}
          <tr class="linha-evento">
            <th>{{ espaco.sigla }}</th>
            {% for reserva, tupla in reservas %}
              {% for x in ""|ljust:tupla.0|make_list %}<td></td>{% endfor %}
              <td colspan="{{ tupla.1 }}" class="blue lighten-4">
                <p>
                  <strong>
                    <a href="{% url "admin:espacos_reserva_change" reserva.id %}">
                      {{ reserva.proposito }}
                    </a>
                  </strong>
                </p>
                <p>{{ reserva.inicio|interval:reserva.termino }}</p>
                <p>
                  {% blocktranslate with solicitante=reserva.solicitante %}
                    solicitado por {{ solicitante }}
                  {% endblocktranslate %}
                </p>
              </td>
              {% if forloop.last %}
                {% for x in ""|ljust:tupla.2|make_list %}<td></td>{% endfor %}
              {% endif %}
            {% empty %}
              {% for x in "1234567"|make_list %}<td></td>{% endfor %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if pdf and not forloop.last %}
    <div class="new-page"></div>
  {% endif %}
{% endfor %}