.user-image {
    width: 64px;
    height: 64px;
    font-size: 64px !important;
    display: block;
}

.user-image-sm {
    width: 32px;
    height: 32px;
    font-size: 32px !important;
}

.card-details,
.user-name {
    font-size: 10px;
}