{% load i18n material menus %}

<div class="scroll-pane">
  {% if not mobile %}
    <i class="material-icons minimize nav-bar" aria-hidden="true" title="{% trans 'Minimize' %}">close</i>
  {% endif %}
  <ul class="collapsible">
    <li>
      <div class="card">
        <div class="card-image">
        {% if 'profile/user_picture.html'|template_exists %}
          {% include 'profile/user_picture.html' %}
        {% else %}
          {% include 'material/admin/user_picture.html' %}
        {% endif %}
      </div>
      </div>
    </li>
    {% if user.is_superuser %}
      {% show_menu 'admin_menu' %}
    {% endif %}
    {% if user.is_staff %}
      {% show_menu 'main_menu' %}
    {% else %}
      {% show_menu 'contato_menu' %}
    {% endif %}
  </ul>
</div>
