{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}{% trans 'Serviço em manutenção (503) | SIGI' %}{% endblock %}

{% block branding %}{% endblock %}
{% block menu-principal %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}
<h1>{% trans 'SIGI em manutenção' %}</h1>

<p>{% trans 'Esta página está atualmente em manutenção! Por favor, tente novamente mais tarde.' %}</p>

<p>{% trans 'Obrigado pela paciência' %},<br />
  {% trans 'Serviço de Pesquisa e Desenvolvimento Tecnológico (SPDT)' %}</p>
{% endblock %}

{% block footer %}{% endblock %}
