{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block titulo %}
    <title>{% trans 'SIGI - Diagnósticos' %}</title>
    {% endblock titulo %}
    {% block media %}
    <link rel="stylesheet" href="{% static 'jquery.mobile-1.0.1/jquery.mobile-1.0.1.min.css' %}"  />
    <script type="text/javascript" src="{% static '/js/jquery/jquery-1.6.4.min.js' %}" ></script>
    <script language=javascript>
      $(document).bind("mobileinit", function () {
        $.mobile.ajaxEnabled = false;
        $.mobile.loadingMessage = 'salvando';
      });
    </script>
    <script type="text/javascript" src="{% static 'js/jquery/jquery.maskedinput-1.1.3.min.js' %}" /></script>
    <script type="text/javascript" src="{% static 'jquery.mobile-1.0.1/jquery.mobile-1.0.1.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/diagnosticos/diagnosticos_categorias_form.js' %}" ></script>
    {% endblock media %}
  </head>
  <body>
    <div data-role="page" id="page" class="type-interior">
      <div data-role="header" data-position="fixed">
        <img id="working" src="{% static 'img/loader.gif' %}"  class="ui-btn-right"/>
        {% block cabecalho %}{% endblock cabecalho %}
      </div> <!-- header -->
      <div data-role="content"  class="content-primary">
        {% block corpo %}{% endblock corpo %}
      </div><!-- content -->
      <div data-role="footer">
        <div data-role="navbar">
          <ul>
            {% block rodape %}
              <li><a href="{% url 'lista_diagnosticos' %}" data-icon="home">{% trans 'Página Inicial' %}</a></li>
            {% endblock rodape %}
          </ul>
        </div>
      </div> <!-- footer -->
    </div> <!-- page -->

    <a id='open-dialog' href="#dialog" data-rel="dialog" data-transition="pop" style='display:none;'></a>
    <div data-role="page" id="dialog">
      <div data-role="header">
        <h1>{% trans 'Ops! Não foi possivel salvar os dados' %}.</h1>
      </div>
      <div data-role="content" id="text">
        {% trans 'Algum erro ocorreu ao salvar os dados do diagnóstico' %}.
        {% trans 'Verifique a sua conectividade e/ou entre em contato com a equipe técnica o mais rápido possível' %}.
      </div>
    </div>
  </body>
</html>
