{% extends "base_change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
    <li><a href="report_complete/">
        <span class="glyphicon glyphicon-list-alt"></span>
        {% trans 'Relatório' %}
    </a></li>
    <li><a href="labels/">
        <span class="glyphicon glyphicon-th"></span>
        {% trans 'Etiqueta' %}
    </a></li>
    <li><a href="labels_sem_presidente/">
        <span class="glyphicon glyphicon-th-large"></span>
        {% trans 'Etiqueta sem presidente' %}
    </a></li>
    {{ block.super }}
{% endblock %}
