{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load static from staticfiles %}

{% block title %}SIGI{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >

    <script type="text/javascript" src="{% static 'admin/js/core.js' %}" ></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}" ></script>
    <script type="text/javascript">
      $(document).ready(function () {        
        var pieData = {
        {% for num, dados in dados_graficos_convenio_projeto %}
          {{ num }}: [
            {% for label, value, color, highlight in dados %}
              {
               label: "{{ label }}",
               value: {{ value }},
               color:"{{ color }}",
               highlight: "{{ highlight }}"
              },
            {% endfor %}
          ],
        {% endfor %}
        };
        $.each(pieData, function(num, data) {
          var canvas = $("#canvas-holder-"+num);
          var ctx = $("#chart-area-"+num).get(0).getContext("2d");
          var myPie = new Chart(ctx).Pie(data);
          canvas.append('<div>'+myPie.generateLegend()+'</div>');
        });
      });
    </script>

    <style type="text/css">

      .numeros td,
      .numeros th {
        text-align: right;
      }
      .numeros tr :first-child {
        text-align: left;
      }
      .servicos tr :first-child {
        width: 40%;
      }
      #dashboard-mapa a img {
        width: 80%;
      }
      .panel-footer dl {
        margin-bottom: 5px;
      }

    </style>

{% endblock %}

{% block content_title %}<h1>{% trans 'Dashboard' %}</h1>{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div id="content-main">
        {% include "snippets/modules/charts-convenios.html" %}
    </div>
{% endblock %}
