{% load i18n %}
<div class="card">
  <div class="card-content">
    <table class="striped">
      <thead>
        <tr>
          <th>{% translate "ID" %}</th>
          <th>{% translate "CNPJ" %}</th>
          <th>{% translate "Sigla" %}</th>
          <th>{% translate "Nome" %}</th>
          <th>{% translate "Cidade" %}</th>
          <th>{% translate "UF" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for orgao in orgaos %}
          {% ifchanged orgao.tipo_nome %}
            <tr><th colspan="6">{{ orgao.tipo_nome }}</th></tr>
          {% endifchanged %}
          <tr>
            <td><a href="{% url 'admin:casas_orgao_change' orgao.id %}">{{ orgao.id|stringformat:"s" }}</a></td>
            <td>{{ orgao.cnpj }}</td>
            <td>{{ orgao.sigla }}</td>
            <td>{{ orgao.nome }}</td>
            <td>{{ orgao.municipio_nome }}</td>
            <td>{{ orgao.uf_sigla }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspam="7">
              {% translate "Nenhum órgão com CNPJ digitado errado" %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
