<table class="table table-striped table-sm table-bordered{% if semana_pesquisa %} fixed{% endif %}">
  <thead>
    <tr>
      {% for coluna in cabecalho %}<th>{{ coluna }}</th>{% endfor %}
    </tr>
  </thead>
  <tbody class="table-group-divider">
  {% for linha in linhas %}
    <tr>
      {% for coluna in linha %}
        {% if forloop.first %}
          <th>{{ coluna }}</th>
        {% elif forloop.last and not semana_pesquisa %}
          <th>{{ coluna }}</th>
        {% else %}
          <td>
            {% if semana_pesquisa %}
              {% for evento in coluna %}
                <p><a class="modal-trigger" data-bs-toggle="modal" data-bs-target="#modal{{ evento.id|safe }}" title="{{ evento.nome }}">{{ evento.nome }}</a></p>
              {% endfor %}
            {% else %}
              {{ coluna }}
            {% endif %}
          </td>
        {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
