{% load i18n %}
{% load static %}

<div style="width: 100%;">
  <table class="">
    <thead>
      {% for name in day_names %}
        <th>{{ name }}</th>
      {% endfor %}
    </thead>
    <tbody>
      {% for semana in semanas %}
      <tr>
        {% for dia in semana %}
        <td>
          <span class="numero-dia">{{ dia.0 }}</span>
          {% for evento in dia.1 %}
          <p class="evento truncate {% include 'eventos/snippets/calendario_status_color.html' with status=evento.status %}">
            <a class="modal-trigger" href="#modal{{ evento.id|safe }}" title="{{ evento.nome }}">{{ evento.nome }}</a>
          </p>
          {% endfor %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>