{% load i18n %}
<table class="table table-striped">
  <thead>
    <tr>
      <th rowspan="2">{% trans 'UF' %}</th>
      <th rowspan="2">{% trans 'Senador' %}</th>
      <th colspan="4" class="center">{% trans 'Quantidade' %}</th>
      <th rowspan="2" class="numero">{% trans 'Custo total' %}</th>
    </tr>
    <tr>
      <th  class="numero">{% trans 'Solicitada' %}</th>
      <th  class="numero">{% trans 'Atendida' %}</th>
      <th  class="numero">{% trans 'Não atendida' %}</th>
      <th  class="numero">{% trans 'Participantes' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for uf in resumo_uf.itertuples %}
      {% ifchanged uf.regiao %}
        <tr>
          <th  class="sep_regiao" colspan="7">{{ uf.regiao }}</th>
        </tr>
      {% endifchanged %}
      <tr>
        <td>{{ uf.uf }}</td>
        <td>{{ uf.senador }}</td>
        <td  class="numero">{{ uf.qtde_solicitadas }}</td>
        <td  class="numero">{{ uf.qtde_atendidas|default:"-" }}</td>
        <td  class="numero">{{ uf.qtde_rejeitadas|default:"-" }}</td>
        <td  class="numero">{{ uf.participantes|default:"-" }}</td>
        <td  class="numero">{{ uf.custo_total|floatformat:2|default:"-" }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>