{% load i18n %}
<ul class="collapsible" style="width: 100%;">
  <li>
    <div class="collapsible-header">
      {{ tipo }}
    </div>
    <div class="collapsible-body">
      <ul>
      {% for key, label in filtros.items %}
        <li>
          <a class="dashlink" href="{% url "home_resumoconvenios" %}?tipo={{ key }}" data-target="card-resumoconvenios">
            {{ label }}
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </li>
</ul>
<blockquote>
  <a class="waves-effect waves-light btn-small btn-flat" href="{% url 'convenios-report_regiao_pdf' 'CO' %}">Centro Oeste</a>
  <a class="waves-effect waves-light btn-small btn-flat" href="{% url 'convenios-report_regiao_pdf' 'NE' %}">Nordeste</a>
  <a class="waves-effect waves-light btn-small btn-flat" href="{% url 'convenios-report_regiao_pdf' 'NO' %}">Norte</a>
  <a class="waves-effect waves-light btn-small btn-flat" href="{% url 'convenios-report_regiao_pdf' 'SD' %}">Sudeste</a>
  <a class="waves-effect waves-light btn-small btn-flat" href="{% url 'convenios-report_regiao_pdf' 'SL' %}">Sul</a>
</blockquote>

<table class="responsive-table numeros">
  <tr>
    <th>&nbsp;</th>
  {% for item in tabela_resumo_camara.data_frame.columns %}
    <th>{{ item }}</th>
  {% endfor %}
  </tr>
  {% for label, values in tabela_resumo_camara.data_frame.iterrows %}
  <tr>
    <th>{{ label }}</th>
    {% for value in values %}
    <td>{{ value }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

<table class="responsive-table numeros">
  {% for label, value in tabela_resumo_camara.totais %}
    <tr>
      <th>{{ label }}</th>
      <td>{{ value }}</td>
    </tr>
  {% endfor %}
  <tr>
    <th>{% trans 'Casas sem convenio que utilizam algum serviço de hospedagem' %}
      <a href="{% url "home_reportsemconvenio" %}?modo=H" target="_blank" aria-label="{% trans "Listar casas" %}" title="{% trans "Listar casas" %}"><i class="material-icons tiny">list</i></a>
      <a href="{% url "home_reportsemconvenio" %}?modo=H&f=csv" aria-label="{% trans "Download csv" %}" title="{% trans "Download csv" %}"><i class="material-icons tiny">file_download</i></a>
    </th>
    <td>{{ tabela_resumo_camara.sem_convenio.hospedagem }}</td>
  </tr>
  <tr>
    <th>{% trans 'Casas sem convenio que utilizam somente serviço de registro' %}
      <a href="{% url "home_reportsemconvenio" %}?modo=R" target="_blank" aria-label="{% trans "Listar casas" %}" title="{% trans "Listar casas" %}"><i class="material-icons tiny">list</i></a>
      <a href="{% url "home_reportsemconvenio" %}?modo=R&f=csv" aria-label="{% trans "Download csv" %}" title="{% trans "Download csv" %}"><i class="material-icons tiny">file_download</i></a>
    </th>
    <td>{{ tabela_resumo_camara.sem_convenio.registro }}</td>
  </tr>
  <tr>
    <th>{% trans 'Casas sem convenio que utilizam algum serviço de registro e/ou hospedagem' %}
      <a href="{% url "home_reportsemconvenio" %}" target="_blank" aria-label="{% trans "Listar casas" %}" title="{% trans "Listar casas" %}"><i class="material-icons tiny">list</i></a>
      <a href="{% url "home_reportsemconvenio" %}?f=csv" aria-label="{% trans "Download csv" %}" title="{% trans "Download csv" %}"><i class="material-icons tiny">file_download</i></a>
    </th>
    <td>{{ tabela_resumo_camara.sem_convenio.total }}</td>
  </tr>
</table>