{% extends 'pdf/base_report.html' %}
{% load static i18n %}

{% block page_size %}A4 portrait{% endblock %}
{% block report_name %}{% blocktranslate %}Relatório da Região {{ regiao }}{% endblocktranslate %}{% endblock %}

{% block main_content %}
  {% for tabela in tabelas %}
  <table class="tabela" repeat="1">
    <caption>{{ tabela.projeto }} - {{ regiao }}</caption>
    <thead>
      <tr>
        {% for item in tabela.cabecalho %}
        <th>{{ item }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for linha in tabela.linhas %}
      <tr>
        <th>{{ linha.estado }}</th>
        {% for item in linha.lista %}
          <td class="right-align">{{ item }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
      <tr>
        <th>Total</th>
        {% for item in tabela.sumario %}
        <th class="right-align">{{item}}</th>
        {% endfor %}
      </tr>
    </tbody>
  </table>
  <br />
  {% endfor %}
{% endblock main_content %}