body,
html,
.mapbox,
#map {
  height: 100%;
  width: 100%;
}

#content,
.content {
  height: 100%;
}

.main {
  height: calc(100% - 80px);
}

.filterwrap {
  border-radius: 5px;
  margin: 12px;
  max-height: 80%;
  position: absolute;
  z-index: 314159;
  overflow-y: auto;
}

.region-ufs {
  margin-left: 15px;
}

.autocomplete-content {
  max-width: 300px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  border-color: #ddd;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 15px;
  z-index: 99999 !important;
}

.dropdown-content li>span {
  font-size: 13px;
  line-height: 13px;
  padding: 3px 3px;
}

.dropdown-content li {
  font-size: 13px;
  line-height: 13px;
  height: auto;
  min-height: unset;
}

.search-result-item {
  display: list-item;
  list-style: none;
  padding: 3px 3px 3px 20px;
  font-weight: bold;
}

li>a.center-map,
li>a.clear-filters {
  padding: 0px;
}

li>a.center-map>i.material-icons,
li>a.clear-filters>i.material-icons {
  color: var(--main-bg-color);
  border-color: var(--main-bg-color);
  margin: 0px 10px 0px 0px;
}

.map-bar {
  width: calc(100% - 24px);
  height: 45px;
  border-radius: 5px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  position: absolute;
  margin: 12px 0 0 12px;
  padding-left: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 1000;
  pointer-events: none;
}

.map-bar .inner {
  padding-left: 12px;
  pointer-events: auto;
}

#container {
  display: block !important;
  padding: 0 !important;
}

.search-text::placeholder {
  color: var(--body-quiet-color);
}

.search-text::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--body-quiet-color);
}

.search-text:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--body-quiet-color);
}

.search-result {
  background-color: rgba(255, 255, 255, 0.5);
}

.action-buttons {
  display: flex;
  align-items: center;
  height: 45px;
}

.map-total-bar {
  width: calc(100% - 24px);
  border-radius: 5px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  position: absolute;
  margin: 12px 0 0 12px;
  padding-left: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 1000;
  pointer-events: none;
  bottom: 1px;
}

.embed-map-content {
  height: 100% !important;
}

.ui-autocomplete {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
}