cron-converter==1.2.1
dnspython==2.6.1
docutils==0.21.2
email_validator==2.1.1
gunicorn==22.0.0
ibge==0.0.5
inflection==0.5.1
ipython==8.25.0
moodlepy==0.24.0
pandas==2.2.2
parsel==1.9.1
pillow==10.3.0
psycopg2-binary==2.9.9
python-docx==1.1.2
python-magic==0.4.27
PyYAML==6.0.1
requests==2.32.3
uritemplate==4.1.1
weasyprint==62.2
XlsxWriter==3.2.0
Django==5.0.6
django-admin-autocomplete-filter==0.7.1
django-auth-ldap==4.8.0
django-debug-toolbar==4.4.2
django-environ==0.11.2
django-extensions==3.2.3
django-filter==24.2
django-import-export==4.0.7
django-localflavor==4.0
django-material-admin==1.8.6
django-tinymce==4.0.0
django-weasyprint==2.3.0
djangorestframework==3.15.2