cron-converter==1.2.1
dnspython==2.7.0
docutils==0.21.2
email_validator==2.2.0
gunicorn==23.0.0
ibge==0.0.5
inflection==0.5.1
ipython==8.29.0
moodlepy==0.24.1
pandas==2.2.3
parsel==1.9.1
pillow==10.4.0
psycopg2-binary==2.9.10
python-docx==1.1.2
python-magic==0.4.27
PyYAML==6.0.2
requests==2.32.3
uritemplate==4.1.1
weasyprint==63.0
XlsxWriter==3.2.0
Django==5.1.2
django-admin-autocomplete-filter==0.7.1
django-auth-ldap==5.1.0
django-debug-toolbar==4.4.6
django-environ==0.11.2
django-extensions==3.2.3
django-filter==24.3
django-import-export==4.2.0
django-localflavor==4.0
django-tinymce==4.1.0
django-weasyprint==2.3.0
djangorestframework==3.15.2
djbs-theme_sesostris @ git+https://github.com/interlegis/djbs-theme.git
