-r requirements.txt
git+git://github.com/paulocheque/django-dynamic-fixture/@master
coverage==4.1
django-webtest==1.7.9
pyPdf==1.13
pyquery==1.2.13
pytest-cov==2.2.1
pytest-django==2.9.1
pytest==2.9.2
WebTest==2.0.21
