<div class="center-block">
  <nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li>
          <a href="{{ querystring }}page={{ page_obj.previous_page_number }}">
            <span class="arrow">&laquo;</span>
          </a>
        </li>
      {% else %}
        <li class="arrow disabled"><span class="arrow">&laquo;</span></li>
      {% endif %}

      {% for page in page_range %}
      	{% if page %}
	      <li {% if page == page_obj.number %}class="active current"{% endif %}>
	        <a href="{{ querystring }}page={{ page }}">{{ page }}</a>
	      </li>
	    {% else %}
	      <li class="disabled" aria-disabled="true"><span>&hellip;</span></li>
	    {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li>
          <a href="{{ querystring }}page={{ page_obj.next_page_number }}">
            <span class="arrow">&raquo;</span>
          </a>
        </li>
      {% else %}
        <li class="arrow disabled"><span class="arrow">&raquo;</span></li>
      {% endif %}
    </ul>
  </nav>
</div>
