{% extends "admin/base_site.html" %}

{% block extrastyle %}
  {{ block.super }}
  <style>
    td.number {
      text-align: right;
    }
    .panel-body {
      max-height: 400px;
      overflow: auto;    
    }
  </style>
{% endblock %}

{% block content %}
<div id="content-main">
    <div class="page-header"><h1>Detalhes para {{ area.descricao }}</h1></div>

	<div class="results">
		<table class="table table-striped table-bordered" id="result_list">
			<thead>
				<tr>
				{% for col_title in table_head %}
					<th>{{ col_title }}</th>
				{% endfor %}
				</tr>
			</thead>
			<tbody>
			{% for k, row in table_data.items %}
				<tr class="row1">
	        		<th>{{ row.course_name }}</th>
	        		<td class='number'>{{ row.total_matriculas }}</td>
	        		{% if 'N' in flags %}
	        			<td class='number'>{{ row.N }}</td>
	        			<td class='number'>{{ row.efetivos }}</td>
	        		{% endif %}
	        		{% if 'C' in flags %}<td class='number'>{{ row.C }}</td>{% endif %}
	        		{% if 'L' in flags %}<td class='number'>{{ row.L }}</td>{% endif %}
	        		{% if 'R' in flags %}<td class='number'>{{ row.R }}</td>{% endif %}
	        		{% if 'A' in flags %}<td class='number'>{{ row.A }}</td>{% endif %}
	        		{% if 'MA' in flags %}<td class='number'>{{ row.media_aprovados|floatformat:2 }}</td>{% endif %}
	        		{% if 'MR' in flags %}<td class='number'>{{ row.media_reprovados|floatformat:2 }}</td>{% endif %}
	    		</tr>
	    	{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
