<div class="row row-flex row-flex-wrap">
  {% for k, painel in paineis.items %}
  <div class="col-md-4">
    <div class="panel panel-primary flex-col">
      <div class="panel-heading">
      	{{ painel.titulo }}
		{% if painel.area %}
			<span class="badge"><a href="{% url "saberes-dashboard-detail" painel.area.id %}">Detalhes</a></span>
		{% endif %}
      </div>
      <div class="panel-body">
	    <table class='table'>
	    {% for linha in painel.dados %}
	      <tr>
	        <th>
	        	{{ linha.descricao }}
	        	{% if linha.help_text %}
	        	<span class="help-block">{{ linha.help_text }}</span>
	        	{% endif %}
	        </th>
	        <td class='number' {% if not linha.percentual %}colspan="2"{% endif %}>{{ linha.valor }}</td>
	        {% if linha.percentual %}
	        <td class='number'>{{ linha.percentual|floatformat:2 }}%</td>
	        {% endif %}
	      </tr>
	    {% endfor %}
	    </table>
      </div>
    </div>
  </div>
  {% cycle '' '' '</div><div class="row">' %}
  {% endfor %}
</div>
