{% extends "admin/base_site.html" %}

{% block title %}Serviço em manutenção (503) | SIGI{% endblock %}

{% block branding %}{% endblock %}
{% block nav-global %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}
<h1>SIGI em manutenção</h1>

<p>Esta página está atualmente em manutenção! Por favor, tente
  novamente mais tarde.</p> 

<p>Obrigado pela paciência,<br />
  Serviço de Pesquisa e Desenvolvimento Tecnológico (SPDT)</p>
{% endblock %}

{% block footer %}{% endblock %}
