<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block titulo %}
    <title>SIGI - Diagnósticos</title>
    {% endblock titulo %}
    {% block media %}
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
    {% endblock media %}
  </head>
  <body>
    <div data-role="page" id="page" class="type-interior">
      <div data-role="header">
        {% block cabecalho %}{% endblock cabecalho %}
      </div> <!-- header -->            
      <div data-role="content"  class="content-primary">
        {% block corpo %}{% endblock corpo %}
      </div><!-- content -->
      {% block rodape %}
      <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
          <ul>
            <li><a href="#" data-icon="grid" class="ui-state-persist">Listar</a></li>
            <li><a href="#" data-icon="home">Home</a></li>
            <li><a href="#" data-icon="plus">Anexar Arquivos</a></li>
          </ul>
        </div>
      </div> <!-- footer -->        
      {% endblock rodape %}
    </div> <!-- page -->

    <a id='open-dialog' href="#dialog" data-rel="dialog" data-transition="pop" style='display:none;'></a>
    <div data-role="page" id="dialog">
      <div data-role="header">
        <h1>Ops! Não foi possivel salvar os dados.</h1>
      </div>
      <div data-role="content" id="text">
        Algum erro ocorreu ao salvar os dados do diagnóstico,
        verifique a sua conectividade e/ou entre em contato
        com a equipe técnica o mais rápido possível.
      </div>
    </div>
  </body>
</html>
