{% extends 'pdf/base_report.html' %}
{% load static i18n sigi_tags %}

{% block page_size %}A4 landscape{% endblock page_size %}

{% block extra_style %}
  {{ block.super }}
  aside {
    margin-left: 8px;
    font-size: 0.8em;
    color: #666;
  }
  blockquote {
    margin: 12px 0 12px;
    padding-left: 1.5rem;
    border-left: 5px solid #ee6e73;
    font-size: 1.4em;
    font-weight: bold;
  }
  tr:nth-child(even) {
    background-color: initial;
  }
  .even-row {
    background-color: #d2d2d2 !important;
  }

  .sessao-resumo {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 24px;
  }
  .card-resumo {
    background-color: #eeeeef;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 6px;
    flex-basis: 49%;
    padding: 0 6px 6px 6px;
    position: relative;
    width: 100%;
  }
  .card-resumo.full {
    flex-basis: 98%;
  }

  .index-cell {
    width: 2em;
    text-align: center;
  }
  .label-resumo {
    min-width: 30em;
  }
{% endblock %}

{% block main_content %}
  <table repeat="2">
    <thead>
      <tr>
        <th>{% trans "ID saberes" %}</th>
        <th>{% trans "Membro da equipe" %}</th>
        <th>{% trans "Qtde eventos" %}</th>
        <th>{% trans "Qtde diárias" %}</th>
        <th>{% trans "Valor médio diária" %}</th>
        <th>{% trans "Total diárias" %}</th>
        <th>{% trans "Total passagens" %}</th>
        <th>{% trans "Total" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for servidor in servidores %}
        <tr>
          <td>{{ servidor.moodle_id }}</td>
          <td>{{ servidor.nome_completo }}</td>
          <td class="right-align">{{ servidor.qtde_eventos|default:"-" }}</td>
          <td class="right-align">{{ servidor.qtde_diarias|default:"-" }}</td>
          <td class="right-align">{{ servidor.media_diarias|default:"-" }}</td>
          <td class="right-align">{{ servidor.total_diarias|default:"-" }}</td>
          <td class="right-align">{{ servidor.total_passagens|default:"-" }}</td>
          <td class="right-align">{{ servidor.total_custo|default:"-" }}</td>
        </tr>
      {% endfor %}
      <tr>
        <th colspan="2" class="right-align">{% trans "Totais" %}</th>
        <th class="right-align">{{ totais.qtde_eventos|default:"-" }}</th>
        <th class="right-align">{{ totais.qtde_diarias|default:"-" }}</th>
        <th class="right-align">{{ totais.media_diarias|default:"-" }}</th>
        <th class="right-align">{{ totais.total_diarias|default:"-" }}</th>
        <th class="right-align">{{ totais.total_passagens|default:"-" }}</th>
        <th class="right-align">{{ totais.total_custo|default:"-" }}</th>
      </tr>
    </tbody>
  </table>
{% endblock %}