{% extends "ocorrencias/ocorrencia_detail.html" %}
{% load i18n model_fields %}

{% block content_title %}
  <h5>{% blocktrans with casa=ocorrencia.casa_legislativa.nome %}Solicitação de adesão da {{ casa }}{% endblocktrans %}</h5>
  <h6>{% blocktrans with id=ocorrencia.id|safe%}Ocorrência #{{ id }}{% endblocktrans %}</h6>
{% endblock %}

{% block other_cards %}
  <form action="{% if list_filter %}?list_filter={{ list_filter|urlencode }}{% endif %}" method="post">{% csrf_token %}
    {% if infos.aplicados %}
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">{% trans "Alterações aplicadas" %}</span>
              {% if 'casa_legislativa' in infos.aplicados and 'presidente' in infos.aplicados and 'contato' in infos.aplicados %}
                <p class=""> {% trans "Todas as alterações foram aplicadas" %}</p>
              {% else %}
                <ul>
                  {% if 'casa_legislativa' in infos.aplicados %}
                    <li>As alterações nos dados da Casa Legislativa foram aplicadas</li>
                  {% endif %}
                  {% if 'presidente' in infos.aplicados %}
                    <li>As alterações nos dados do Presidente foram aplicadas</li>
                  {% endif %}
                  {% if 'contato' in infos.aplicados %}
                    <li>As alterações nos dados do Contato Interlegis foram aplicadas</li>
                  {% endif %}
                </ul>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {% if 'casa_legislativa' not in infos.aplicados %}
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{% trans "Casa legislativa" %}</span>
            <table class="striped">
              <thead>
                <tr>
                  <th>{% trans "Campo" %}</th>
                  <th>{% trans "Valor original" %}</th>
                  <th>{% trans "Valor alterado" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for key, value in infos.casa_legislativa.items %}
                <tr>
                  <th>{{ casa|verbose_name:key|capfirst }}</th>
                  <td>{{ casa|field_value:key|default:"-" }}</td>
                  <td>{{ value|default:"-" }}</td>
                </tr>
                {% endfor %}
                <tr>
                  <th>Foto</th>
                  <td>{% if casa.foto %}<img src="{{ casa.foto.url }}" width=120 height=120/>{% else %}{% trans "Sem imagem" %}{% endif %}</td>
                  <td>{% if ocorrencia.casa_foto %}<img src="{{ ocorrencia.casa_foto.url }}" width=120 height=120/>{% else %}{% trans "Sem alteração" %}{% endif %}
                </tr>
                <tr>
                  <th>Brasão</th>
                  <td>{% if casa.brasao %}<img src="{{ casa.brasao.url }}" width=120 height=120/>{% else %}{% trans "Sem imagem" %}{% endif %}</td>
                  <td>{% if ocorrencia.casa_brasao %}<img src="{{ ocorrencia.casa_brasao.url }}" width=120 height=120/>{% else %}{% trans "Sem alteração" %}{% endif %}
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-action">
            <button type="submit" class="btn waves-effect waves-light white-text" name="apply_casa">{% trans "Aplicar mudanças na Casa Legislativa" %}</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if 'presidente' not in infos.aplicados %}
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{% trans "Presidente" %}</span>
            {% if casa.presidente %}
              <p>{% trans "Presidente anterior" %}: {{ casa.presidente.nome_completo }}</p>
            {% else %}
              <p>{% trans "A Casa não tinha Presidente definido anteriormente" %}</p>
            {% endif %}
            <p>{% trans "Presidente selecionado" %}: {{ novo_presidente.nome_completo }}</p>
            <table class="striped">
              <thead>
                <tr>
                  <th>{% trans "Campo" %}</th>
                  <th>{% trans "Valor original" %}</th>
                  <th>{% trans "Valor alterado" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for key, value in infos.presidente.items %}
                <tr>
                  <th>{{ novo_presidente|verbose_name:key|capfirst }}</th>
                  <td>{{ novo_presidente|field_value:key|default:"-" }}</td>
                  <td>{{ value|default:"-" }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="card-action">
            <button type="submit" class="btn waves-effect waves-light white-text" name="apply_presidente">{% trans "Aplicar mudanças no Parlamentar" %}</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if 'contato' not in infos.aplicados %}
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{% trans "Contato Interlegis" %}</span>
            <table class="striped">
              <thead>
                <tr>
                  <th>{% trans "Campo" %}</th>
                  <th>{% trans "Valor original" %}</th>
                  <th>{% trans "Valor alterado" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for key, value in infos.contato.items %}
                <tr>
                  <th>{{ contato|verbose_name:key|capfirst }}</th>
                  <td>{{ contato|field_value:key|default:"-" }}</td>
                  <td>{{ value|default:"-" }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="card-action">
            <button type="submit" class="btn waves-effect waves-light white-text" name="apply_contato">{% trans "Aplicar mudanças no Contato Interlegis" %}</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </form>
{% endblock other_cards %}
