{% extends "admin/tabs_change_form.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
  {% if object_id %}
    {% if can_createcourse %}
      <li>
        {% url opts|admin_urlname:'createcourse' object_id|admin_urlquote as tool_url %}
        <a href="{% add_preserved_filters tool_url %}">
          <i class="left material-icons" aria-hidden="true">create_new_folder</i>
          {% trans "Criar curso no Saberes" %}
        </a>
      </li>
    {% endif %}
    {% if can_updateparticipantes %}
      <li>
        {% url opts|admin_urlname:'updateparticipantes' object_id|admin_urlquote as tool_url %}
        <a href="{% add_preserved_filters tool_url %}">
          <i class="left material-icons" aria-hidden="true">contacts</i>
          {% trans "Atualizar total participantes" %}
        </a>
      </li>
    {% endif %}
    <li>
      {% url opts|admin_urlname:'declaracaoreport' object_id|admin_urlquote as tool_url %}
      <a href="{% add_preserved_filters tool_url %}">
        <i class="left material-icons" aria-hidden="true">picture_as_pdf</i>
        {% trans "Declaração" %}
      </a>
    </li>
    <li>
      {% url opts|admin_urlname:'gantreport' object_id|admin_urlquote as tool_url %}
      <a href="{% add_preserved_filters tool_url %}">
        <i class="left material-icons" aria-hidden="true">insert_chart</i>
        {% trans "Gráfico de Gant" %}
      </a>
    </li>
    <li>
      {% url opts|admin_urlname:'checklistreport' object_id|admin_urlquote as tool_url %}
      <a href="{% add_preserved_filters tool_url %}">
        <i class="left material-icons" aria-hidden="true">picture_as_pdf</i>
        {% trans "Checklist" %}
      </a>
    </li>
    <li>
      {% url opts|admin_urlname:'comunicacaoreport' object_id|admin_urlquote as tool_url %}
      <a href="{% add_preserved_filters tool_url %}">
        <i class="left material-icons" aria-hidden="true">picture_as_pdf</i>
        {% trans "Plano de comunicação" %}
      </a>
    </li>
  {% endif %}
  {{ block.super }}
{% endblock %}
