table.servicos {
    width: 100%;
}

table.numeros>tbody>tr>td {
    text-align: right;
}

.app>.card>.card-content>.card-title {
    font-size: 16px;
    font-weight: bolder;
}

.full-preloader {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.8);
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.user_thumb {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}

.gerente_selector {
    width: 100%;
    border: none;
}

.card-links {
    padding: 0 24px;
}

.tab-edit,
.tab-control {
    display: inline-block;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.tab-edit a,
.tab-control a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease, background-color .28s ease;
}

.dashbar {
    background: var(--main-hover-color);
    opacity: .8;
    color: #fff;
    padding: 10px;
    border: none;
    text-align: left;
}

.dashtabs {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 48px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    white-space: nowrap;
    list-style-type: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.dashtabs .tabitem {
    display: inline-block;
    font-weight: normal;
    height: 48px;
    line-height: 48px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
}

.dashtabs .tabitem .active {
    font-weight: bolder;
}

.dashtabs .tabitem a,
.dashtabs .tabitem p {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dashtabs .tabitem i {
    line-height: unset;
    color: var(--primary);
}

.dashtab {
    width: 100%;
}

.dash-modal-header {
    font-size: 1.2em;
    display: block;
    text-transform: uppercase;
}

.xlsx-download {
    height: 24px;
}
.collapsible-body>hr {
    height: 1px;
}